[2015-11-21 17:40] Charlotteis opened #1 "Language Styleguide"
## The Issue
Language is a powerful tool, and it is very easy to wield it badly. In order to be the best Hoodies we can be, lets outline from the start the language we should and shouldn't be using.

## The Solution

Create a README or Wiki (thanks @renrutnnej) that acts as a 'Language Styleguide' where we list all the Dos and Don'ts. Topics like pronouns, the attitude and discourse of "Hoodie", h

[2015-11-21 17:40] Charlotteis opened #2 "TGIF Readme"

[2015-11-21 17:49] Charlotteis opened #3 "BLOG: Post on the Editorial Team"
## The Proposal

Let's write a blog post on our editorial team, to share the good news that we now exist! Officially started on the 21st of November with an awesome Google Hangout full of people. Talk about what our goal is, how we're going to start the process (documentation, meetings, slack) and what areas we are going to cover. Talk about how we want more people and ask for one-off ideas?

[2015-11-21 17:51] Charlotteis opened #4 "How to submit a blogpost to Hoodie"
## The Issue

Blog Posts are submitted by making a PR against the gh-pages branch of Hood.ie. It would be erroneous to assume that everyone knows how to use GitHub, or how to make a PR.

## The Solution

Create a guide on each step of the process on submitting a blogpost.
My thoughts are:

* TL;DR version for those who know how to use GitHub
* Step by Step guide for those who can/want to use the c

[2015-11-21 17:56] Charlotteis opened #5 "Lets get a team to co-ordinate the Hoodie Twitter account"
I think Jan/Gregor do the tweets right now and our account isn't very active. Lets get access to a Buffer account for those who want to do some cool tweetz.

[2015-11-21 18:14] renrutnnej commented on #1
I've used the wiki feature before as a living style guide and it was really useful for updating and redefinining :)

[2015-11-21 23:03] Charlotteis commented on #1
@renrutnnej ooooooooo good idea. We can totes start a wiki on this repo, does that sound sensible?

[2015-11-21 23:54] remixz opened #6 "Method Proposal: Soliciting Article Pitches"
As the interest in Hoodie and its editorial grows, I'm sure there'll be a lot of people who'll want to write something for the Hoodie blog. We talked a lot about recurring posts (e.g. TGIF, Meet the Hoodie, cute animal pics), but we should definitely also talk about handling one-offs. I think it's possible that if we leave it open enough, we could have a steady stream of interesting one-off pieces

[2015-11-22 13:05] Charlotteis opened #8 "Update the README to tell people who we are"
## The Issue

No-one knows much about the team or this repository yet, so we should update our README to inform the awesome people who come across us.

## The Solution

Update the README to explain who we are! https://github.com/hoodiehq/editorial/blob/master/README.md

[2015-11-22 13:06] Charlotteis commented on #8
Gave it a go: #7 :)

[2015-11-22 21:41] janl commented on #1
I like the wiki idea

[2015-11-22 21:59] janl opened #9 "Getting Started"
This issues is the first follow-up from the first call we had on November 21st.

The group decided to tackle one small project first to figure out the rest of the process.

The project is: **Meet The Hoodies.**

Here is the rough idea:

Meet The Hoodies (sing a long to [the melody :notes: of Wheel of Fortune](https://www.youtube.com/watch?v=2f7qAY1PztI)) is a blog series that in each episode celeb

[2015-11-22 22:11] janl commented on #8
Merged :)

[2015-11-22 22:11] #8 closed

[2015-11-23 04:59] gr2m commented on #5
:clap:

[2015-11-23 14:29] schisepo commented on #5
I'd like to help with the twitter account. I suggest we come up with a social media calendar that determines what gets posted on each weekday e.g. Monday - feature a hood.ie app
Tuesday - Promote an event happening in the ecosystem
Wednesday - Wacky animal pic

Once we have themes for each day, content can be predetermined and pre-scheduled using something like hootsuite.

[2015-11-23 14:30] schisepo commented on #1
The wiki idea sounds great. I definitely have a lot to learn in this area...

[2015-11-23 20:20] summerspirit commented on #5
Think you've got great suggestions @schisepo
I've worked in a couple of organizations where Trello was a good way to set-up 7 columns and then slide in "draft" content for the appropriate day before it goes up on HootSuite.
Then you've got a bunch of things in the pipeline you can slot in when you need to.

[2015-11-24 01:09] remixz opened #10 "Determine Content Ownership/Licensing"
## The Issue

Since we'll (hopefully!) have many people submitting work for the Hoodie website, we need to determine who owns the content they submit, and how it should be licensed. This needs to apply to written work, as well as any illustrations, photographs, or any other original work submitted for inclusion the Hoodie website.

## The Solution

Create a document on content ownership and licens

[2015-11-24 04:15] schisepo commented on #5
@summer I'm not familiar with Trello but it sounds useful ☺ Will look it up.
On 23 Nov 2015 22:20, "Summer" <notifications@github.com> wrote:

[2015-11-24 16:54] bnb commented on #1
So I've worked on something similar to this for nodejs/evangelism. It might be a good place to start and get ideas: [link](https://github.com/nodejs/evangelism/blob/master/documents/socialMedia.styleGuide.md). You could copy and paste the whole thing, or just take concepts you think may be helpful from it and apply them here.

[2015-11-24 17:01] bnb commented on #5
in addition to regular content, engaging with the community in real time is very important. Checking mentions, hashtags, and replying to relevant conversations is one of the most important things to make a social media campaign possible.

Having a few people who can be online throughout the day will greatly help with this. Who it is isn't very important - as long as they have been active contribut

[2015-11-24 17:03] bnb commented on #3
I can pick this up, but I'm currently phone-only, as my computer is handicapped right now. If someone else gets to this before I get a new computer, feel free to take it over - if not, I'll get it done ASAP.

[2015-11-24 17:34] bnb commented on #6
I think it would be better to keep everything in GitHub in terms of writing. Here is an alternative structure to the one that you proposed:

* Writing: Have the author fork this repostory. They can either clone it locally and write in their favorite text editor, or work from the GitHub interface. Either way, they'll use markdown. If the choose to work with the latter, there is a guide linked from

[2015-11-24 17:36] renrutnnej commented on #6
👍🏻 keeping it all in GitHub

-- 
Jenn Turner

On November 24, 2015 at 12:34:43 PM, &! (bitandbang) (notifications@github.com) wrote:

I think it would be better to keep everything in GitHub in terms of writing. Here is an alternative structure to the one that you proposed:

Writing: Have the author fork this repostory. They can either clone it locally and write in their favorite text editor, or wo

[2015-11-24 20:39] janl commented on #6
I like this idea very much :)

I also like the rest of this, thank you for taking the time to write it all out. I’d add a step 0. where we write down guidelines for a pitch, with an example and everything, so that people know what we expect.

And I have one more addition, regarding the scheduling manager, maybe we can put some of the burden into a process. Say we agree that one-off posts are alway

[2015-11-24 21:16] bnb opened #11 "Hoodie Homepage Messaging"
Overall Hoodie messaging overhaul

I looked into Hoodie a good while ago, and was confused as to what the product actually does. The homepage didn't really give a descriptor of that.

Fast forward to today, and the website has gotten better, but there's still not a succinct point of what Hoodie is.

The first real, non-rhetorical copy on the page says it's first a tool for front-end developers who

[2015-11-24 21:51] gr2m commented on #11
:heart: :100:

You really hit a nerve there. We have discussions about "what is Hoodie" and "who is the target group" a lot lately. At out [Meet the Hoodies Event](https://ti.to/hoodie/hello-nyc/) all people new to Hoodie were puzzled by its landing page. One think that stuck with me was that we want to do different Hoodie releases with different target groups. I bring that up because if we do tha

[2015-11-24 22:49] remixz commented on #6
Thanks all for the feedback! I've created a pull request with your feedback, so we can make this official. https://github.com/hoodiehq/editorial/pull/12

[2015-11-24 23:25] bnb commented on #6
I like this a lot. Just a nitpick: I would give the document titles shorter but descriptive names, and I would definitely remove spaces from the file names. For new file names, I would go with something like `pitch-template.md` and `blog-process.md`.

We'll be setting a precedent that will become hard to change as time goes on, so we need  to get it right the first time. If anyone has a scheme you

[2015-11-25 08:19] schisepo commented on #9
@janl - I'd like to begin documenting a format for "Meet the Hoodies". Question - Do I create the format as  new issue or do I create a document like meet-the-hoodies-format.md? I'm still finding my way around here and I think I would get it quicker if I actually put something in.

[2015-11-25 11:33] janl commented on #6
One more note on the “all on GitHub”, I think we should be open for people not using that workflow, but if possible we should guide them there.

[2015-11-25 17:45] schisepo opened #14 "Post Proposal: Meet the Hoodies (Series)"
This series will celebrate the Hoodies, our fantastic community of contributors. Each episode will feature one contributor and will involve them answering the below questions and submitting a quirky photo to go with the post:

1. What's your favorite animal?
2. What's your role / what have you contributed to Hoodie?
3. What's your favorite use of Hoodie in the wild?
4. What in your opinion makes t

[2015-11-25 17:59] schisepo commented on #9
@janl I've adopted the [Blog Process](/hoodiehq/editorial/blob/master/documents/blog-process.md) documented by @remixz and kicked off the Meet the Hoodies series by submitting a pitch proposal using this ->  [Pitch Template](/hoodiehq/editorial/blob/master/documents/pitch-template.md)

The next step should be a review by the editorial team members. The proposal is issue #14

[2015-11-25 18:12] markpalfreeman commented on #14
Thanks for starting this!

Other question ideas to consider:
- What's your role / what have you contributed to Hoodie? *(maybe this is the same as no. 3, but it sounds like it could be for side projects)*
- What's your favorite use of Hoodie you've seen in the wild?

(I think from a process perspective, this Meet the Hoodies idea is already "approved" via #9, so maybe we should move forward with c

[2015-11-25 18:25] schisepo commented on #14
Thanks for the feedback @markpalfreeman :smile:

Yes, the idea is approved so this was mainly to test-drive the process (I'm pretty new to git-hub as well so its a learning curve) I'm thinking that we consider the issue approved and comment on here with other question ideas (Like your fantastic contribution above :smile_cat: ) or  I can create a sub-folder for proposals like @remixz has done for d

[2015-11-25 19:11] remixz commented on #14
:+1: for test-driving the process now. The more time we spend with our processes early, the better prepared we'll be to use them efficiently later with more people, as we take on more editorial projects.

For these kind of recurring series, I think it'd make sense that we spend a couple days collecting feedback from everyone in the community, and then documenting what we came up with in the repo,

[2015-11-25 21:10] remixz opened #15 "Ensuring Inclusivity"
In the #editorial Slack channel ([which you should join](http://hood.ie/chat), if you haven't already!), @Charlotteis brought up the point of making sure we hear from everybody in the community who has interest in this project.

Question: how many people should review submission of processes before we merge them?

I want to make sure the majority of happy with process before we commit them to ston

[2015-11-25 21:20] schisepo commented on #15
👍

[2015-11-26 01:08] bnb commented on #9
So just a small commentary on location of the sub-tasks, at nodejs/evangelism we have a weekly issue that is posted titled along the lines of "Weekly update - week of Jul 7 - 13". It's a good structure, and keeps it 100% visible - all content is handled through issues, so people will see it when looking at the repo anyway. I highly suggest this kind of format for recurring content.

[2015-11-26 02:05] bnb commented on #15
I want to preface this saying that I have a very subjective viewpoint about how community-managed repositories should work. This is due to my involvement in the development of the Node.js/io.js Website and Evangelism Working Groups. They follow an ideology that has struck a nerve with me, and I think that community-managed projects and take a lot from them.

Okay, so how do the majority of Node WG

[2015-11-26 10:36] Charlotteis commented on #10
So this repo (editorial) has an MIT License.
Many people have written for the Hood.ie blog before but I don't know if we have Licensing. Hopefully @janl could answer that question.

I'm not sure if I feel comfortable with any licensing on someones work. If I write for Hoodie, I would probably ask someone if I can put it on my own blog but I don't really want my own content to have rules? I'm the o

[2015-11-26 10:42] Charlotteis commented on #1
That looks cool. I'd rather start from scratch but we can certainly study those guidelines :)
If anyone would like to start a Wiki on this (@renrutnnej and others?) then just let us know you are doing it :tada:

[2015-11-26 10:50] Charlotteis commented on #14
Rather than dogs/cats I'd prefer "whats your favourite animal?" :)

[2015-11-26 10:56] Charlotteis commented on #15
Good comments here. Consensus is great. The reason I posed the questions was because I didn't feel we had sought a consensus when we merged some of our processes. I like the 72-hour window as it gives everyone 3 days to raise any issues they have with new process proposals. :)

[2015-11-26 11:06] Charlotteis opened #17 "Add GitHub Integrations to Slack"
## The Issue

Those not used to checking their GitHub notifications may miss a lot of what happens on GitHub until its too late. And many may miss the suggested 72-hour window for commenting on new process suggestions before they are accepted.

## The Solution

Add a GitHub integration to the editorial Slack channel linked to the editorial repository.

## When the issue is considered complete

Eve

[2015-11-26 11:10] Charlotteis opened #18 "Add methods of contacting people privately"
## The Issue

Not everyone feels able to talk in the open about what they want to, or feel able to challenge things publicly.

## The Solution

Add a paragraph to the README and/or CONTRIBUTING to show people who they can contact privately should they need to. Point out that you can privately DM on Slack, but also private email addresses if possible.

As the team is in its infancy, I think myself

[2015-11-26 14:37] bnb commented on #10
@charlotteis Licensing should be mandatory - there is no reason we shouldn't require an open licence.

As a freelance writer, I understand that you might want to post the content you write on your own blog, but doing that undermines the content on the official blog. Duplicate content is _very_ bad for SEO and robot crawling. If someone writes a blog postfor the Hoodie site, it needs to be exclusiv

[2015-11-26 14:49] bnb commented on #17
Adding a GitHub integration to Slack should be fine, even with notifications for comments. If it's too much we can crank it down a notch as many times as needed until we get the right balance.

[2015-11-26 19:20] skeskali commented on #1
I'd like to contribute to something like this.

[2015-11-26 20:39] Charlotteis commented on #17
Sounds good to me @bnb, thanks for your input! I don't think I have Admin on the channel, is this something you are able to do @janl?

[2015-11-26 20:47] Charlotteis commented on #10
I think I'm put off by it because the description of the license on the website was quite cold. I'm also a bleeding heart and care more that everyone has full rights to their content, than Hoodies SEO but that probably means my arguments aren't as valid :D.

Would you feel more comfortable with official license, or would "Ask permission before you put the content you write for us, elsewhere" writt

[2015-11-26 21:31] remixz commented on #10
I'm not sure if I'd feel comfortable requiring someone's post to be exclusive when we're asking them to do it for free. If at some point we're able to pay a writer for their post, then sure, it should definitely be exclusive. However, we should be giving the writer rights to their writing when it's done for free, so they can get the full value out of it.

To be honest, I don't think many people wo

[2015-11-26 21:38] bnb commented on #10
I think we should have a license that is a part of contrbuti going an article. We are an open-source project, and we should likewise have an open-source license for our content.

I by no means think we should claim complete exclusivity on content people publish under the Hoodie umbrella, to the point where we're witch hunting people who use the content

My thoughts on licensing are essentially syn

[2015-11-26 23:13] bnb commented on #10
@remixz: thanks for the that point!

The only two catches I see with your suggestion are:

* Is it acceptable to assume that all writers will be able to add the canonical tag on their site to a specific blog post? I'm not sure of a way to do that in, say, Ghost without having to edit the templates with an if statement that will run on every post
* I haven't done much SEO, so I'd like to ask how we

[2015-11-27 18:59] bnb commented on #4
Is doing a PR to the Hood.ie repo the best way we can do this? Pulling all articles here and then sending them out to the Hood.ie repo seems the best possible option for the Editorial repo. The results of its existence will be evident by its contents, and will be centralized for examples for future Editorial contributors.

[2015-11-27 21:45] bnb opened #24 "Define a formal method in which contributors are added to the Editorial team"
I updated the `team-roles.md` file with descriptions in https://github.com/hoodiehq/editorial/pull/23. In addition to adding the descriptions, I think we need to define a formal process in which contributors are added to the Editorials team.

Having this early on makes the transition from one (or few) contributor to many slide through with much less friction than when it is developed later.

Tasks

[2015-11-27 22:57] remixz commented on #10
Fair point. Probably will be impossible for every writer to add it themselves. My feeling is that most writers would add the post to their own site more as a portfolio builder, rather than trying to get more views to their blog.

So, the thing about SEO is that it's really something that isn't easily predictable. :smile: There are do's and do-not's, but ultimately there are so many different algor

[2015-11-27 23:03] gr2m opened #25 "💡 Hoodie Friends: projects we love and rely on"
Hoodie couldn't exist without a lot of amazing projects & people out there. I'd love to start a series where we introduce a project we rely on, or simply love, and not introduce the project and how we use it at Hoodie, but especially the people behind it.

Here’s a list of projects that come to mind, I'll keep them updated.

- browserify
- CouchDB
- Github
- greenkeeper.io
- hapi
- JSON API
- JSCo

[2015-11-27 23:09] remixz commented on #24
:+1:

For code repositories, some that I've been involved with use a system of once a person has made a decently-sized contribution (i.e. more than just fixing a typo in a README), they're added as a contributor to the repository. They're expected to follow the contribution guidelines, which is usually just things like don't force push a branch, etc. There's no expectation of how active they are,

[2015-11-28 00:51] bnb commented on #10
I'm not going to push for exclusivity any more - it seems the general consensus is against it. So, are there caveats we need to consider?

[2015-11-28 01:01] bnb commented on #24
@remixz :+1: to everything you said. I've also **never** seen someone who is added as a contributor do anything that negativity affects the community or the content they are responsible for.

I know that one issue that some people have with this concept is the too many cooks situation. However, I've never seen a more productive, friendly community than the Node (io.js) projects with their unlimite

[2015-11-28 13:42] Charlotteis commented on #25
Firstly, I love this idea. Thank you for also adding YFPR to the list, it means a lot. Secondly, would you mind adapting your proposal so it fits this template: https://github.com/hoodiehq/editorial/blob/master/documents/pitch-template.md? I would like to set a consistent example for new contributors :)

[2015-11-28 13:48] Charlotteis commented on #4
I think we need to be both. I know it will seem like a lot of the same content but once we've done, we can adapt the other. Purely because those less confident will need step by step instructions and the process differs between the Editorial and the Hood.ie repo. So we have this placeholder https://github.com/hoodiehq/editorial/blob/master/documents/submit-post.md for the PR specifically for this

[2015-11-28 16:45] gr2m commented on #25
I would make separate blog posts for every listed project :) Let me try for YourFirstPR

[code]

Is that helpful?

[2015-11-28 17:20] bnb commented on #25
@gr2m Typically that info would go in the OP of the created issue.

as it takes to tell the entire story of YourFirstPR

For an OSS post (volunteer), this shoudn't be a huge deal. Unless there are objections, make the document however long it needs to be to convey the message you want to give.

I would be happy to edit it, if it gets PRed into this repo.

Otherwise it looks good!

[2015-11-28 17:56] gr2m commented on #25
what do you mean with "OP of the created issue"? I'm not sure what OP stands for

[2015-11-28 18:02] bnb commented on #25
Original post, so the content you initially wrote when you created the issue (the one with the list of projects).

[2015-11-29 01:13] renrutnnej commented on #15
I also like the 72 hour window, that accounts for what I believe to be an appropriate window across timezones.

I’m also a big :+1: on consensus, thank you for your thoughts on that @bnb :pray:

As far as creating separate mission statements for the editorial team, I’m curious if we need to make sure they are informed by the [initiatives found](http://hood.ie/initiatives/) in the [contribution gui

[2015-11-29 01:14] renrutnnej commented on #17
:+1:  (minus comment notifications)

[2015-11-29 01:39] bnb commented on #15
@renrutnnej: Thanks for the comments! I do have a question, though.

You say you're anti-mission statement, and prefer value based community instead. You mentioned that we should find a way to articulate those values - how is articulating values different than a mission statement?

[2015-11-29 01:56] renrutnnej commented on #15
@bnb Great question!

At my last company we used a differentiation that has become important to me, so I'm sure that's where the strong opinion comes from :relaxed:

I see a mission statement being more reflective of the product/what we do and values statement being centered around the people/who we are.

It could one hundred percent be a silly semantics argument on my part, but my experience with

[2015-11-30 07:38] skeskali commented on #15
I'm a librarian who works at a library that is big on mission, vision, and values statement. Mission statement vs. values statement isn't a semantic difference. A mission statement talks about what you're going to do, and should be the goal that drives the organization. The values statement talks about your organization's/community'sservice ethic. These things can overlap, and one should definitel

[2015-11-30 15:08] schisepo commented on #14
@markpalfreeman @Charlotteis, @remixz  looks like the 72 hour review window is up for this proposal. :tada:  Going with @remixz suggestion, I'd like to create an issue for our first featured Hoodie to respond to the interview questions, after which we'll create a file in markdown  for editing and subsequent publishing :smile:

@Charlotteis - who are the Hoodies :see_no_evil: :blush: ? i.e who are

[2015-11-30 15:20] schisepo commented on #15
@skeskali would what's in the readme.md qualify as our mission and vision? It outlines what we're going to do :smile: Our Coc outlines values I think

[2015-11-30 15:49] bnb commented on #15
@schisepo CoCs shouldn't reflect values, as I understand them. CoCs are the baseline for conduct within a group, description describe the things that should and shouldn't be done on a behavioural level. Is a CoC more than that?

[2015-11-30 16:01] Charlotteis commented on #14
@schisepo The 72 hour window for was process changes (e.g. We should only refer to each other by secret codename), not proposals :) However, I see no reason why we cannot go ahead with this and making a new issue for the first Hoodie would be great.

@janl could you help us with the 'Hoodies'? I know we've already interviewed some in the past. I also know I have not been interviewed, nor has @hips

[2015-11-30 16:27] HipsterBrown commented on #14
There is a decent list here, http://hood.ie/community/, although it may not be the most up-to-date/complete list.

[2015-11-30 17:03] Charlotteis commented on #14
not up to date (in the sense that I think some people have left?) but that is a good start. Need to work out who has been interviewed (the blog should be able to tell you that if you go through the archives) unless we wish to interview everyone again :)

[2015-11-30 21:16] espy opened #29 "Review: minutes.io offline case study [regrettably short notice, sorry]"
Hi everyone!

I wrote a post about some of the tech behind minutes.io, one of our company's projects built on hoodie. We'd like to get that referenced in the offline first-newsletter that we do, which, somewhat problematically, goes out on Wednesday morning. So there's not a lot of time for a long review process, that said, I've already had two people take a look, so some eyes have already been ov

[2015-11-30 22:58] skeskali commented on #15
That's my understanding of a C0C too, @bnb. Mission statements are best and more impactful when they're brief, or so said the consultant we worked with when we wrote ours.

[2015-11-30 23:10] bnb commented on #15
@skeskali I would definitely agree that mission statements are more impactful when they're brief. In many cases, the heading on the index page of a software project should be the most distilled summary of the mission statement.

This is actually something that Hoodie has suffered with for a while - when I first saw/heard about it, I took a look at the front page and withdrew because there wasn't a

[2015-12-01 13:54] Web-Dev-Rich commented on #1
🙋I am _bursting_ to do something editorial. Is it OK if I setup the wiki? I'll use the sections from the link from @bnb as a starting point. I can do it this evening (GMT).

[2015-12-01 16:34] gr2m opened #31 "README: refer to Hoodie as us/we"
see https://github.com/hoodiehq/editorial/pull/28#discussion_r46258027

[2015-12-01 16:42] bnb commented on #1
@Web-dev-rich Go for it! I'd be happy to review when possible.

[2015-12-01 16:45] bnb commented on #31
+1. Calling ourselves Hoodie is like saying "HI, my name is John. John likes programming. John likes offline apps, too."

[2015-12-01 19:56] skeskali commented on #31
Fixed it!

[2015-12-01 19:56] #31 closed

[2015-12-01 20:06] gr2m commented on #31
:+1:

[2015-12-03 10:35] schisepo commented on #14
thanks @HipsterBrown and @Charlotteis Here's the list :point_down: I've put ** next to names featured in the "A Hoodie for you" series. We'll start with @espy 's profile :smiley:

Alex Feyerke	espy
Caolan McMahon	caolan
Carolina Buzio	carolinabuzio
Gregor Martynus	gr2m
Jan Lehnardt	janl
Jan-Erik Rediger
Julia Schmidt
Katrin Apel	kaalita
Kevin Lorenz	verpixelt
Lena Reinard
**Lewis Cowper	lewiscowpe

[2015-12-03 10:47] schisepo opened #34 "(1) Meet the Hoodie - @espy"
Hi @espy :smiley: :wave:

We'd like to feature you in our "Meet the Hoodies" series. We're working on this series to get the editorial process right and to introduce/ re-introduce the amazing people behind Hoodie. Kindly respond to the questions below and submit a quirky photo to go with the final blog post:

1. What's your favorite animal?

2. What's your role / what have you contributed to Hoodi

[2015-12-03 10:49] espy commented on #34
Hi there! I'll get on this as soon as I can :)

[2015-12-03 12:03] Charlotteis commented on #14
you left me (Charlotte Spencer) off :) And some of our other hoodies. The folks under "contributors" are also, as far as I am aware, considered part of our core team they just aren't necessarily around 24/7. Though I think lately I and @HipsterBrown seem to be :)

[2015-12-03 12:08] schisepo commented on #14
Thanks @Charlotteis, will amend list to include everyone mentioned as a contributor. Are there any people on this list + contributors who have since left?

[2015-12-03 12:10] Charlotteis commented on #14
The answer is "probbably" but I think Jan, Gregor etc. will have more info on who has left. For example I don't know if I've spoken to or seen half of the contributor people contribute whilst I've been around, but I'm unsure.

[2015-12-03 12:15] schisepo commented on #24
@bnb the call for contributors welcomed even people who are only able to contribute an hour a week. I think if we are too strict on marking contributors, we might defeat the purpose of a safe, non-demanding, load shared open source project which is part of the appeal to me.

Our process needs to cater for once-off contributors as well. I loved how credit was given to those involved in editing the

[2015-12-03 12:29] espy commented on #34
- What's your favorite animal?

As a species, the [Red Panda](https://en.wikipedia.org/wiki/Red_panda). It's hard to argue with so much [cuteness](https://www.youtube.com/watch?v=oimTxlCi36E). Otters are similarly cute, but soggier. However, for an individual animal, I'd have to pick this cat.

![best_cat_ever-alpine_lynx_bengal_mix](https://cloud.githubusercontent.com/assets/391124/11560190/ff514

[2015-12-03 12:35] schisepo commented on #14
@janl @gr2m when you get a moment, please parse the above list :point_up: for inactive/resigned Hoodie contributors who will not be featured in our series.

[2015-12-03 12:54] schisepo commented on #34
Yaaay! :smile:  :clap: :clap: Thank you for your very prompt response! I love all your answers and I think this is going to be a great post for our Blog. I'm going to create a pull-request and create the working .md file that our editors,illustrators and eventually publisher will use going forward.

[2015-12-03 14:14] gr2m commented on #14
We already had "meet the Hoodies" with @zoepage [link](http://hood.ie/blog/meet-the-hoodies-episode-2-ola.html) and @svnlto [link](http://hood.ie/blog/meet-the-hoodies-episode-1-sven.html)

Currently inactive are

- Caolan McMahon
- Carolina Buzio
- Jan-Erik Rediger
- Julia Schmidt
- Katrin Apel
- Lena Reinard

On the other side, we added a _ton_ of new people to the Hoodie Contributors and we rea

[2015-12-03 15:23] #29 closed

[2015-12-07 13:32] Web-Dev-Rich commented on #1
Hey all I've had time to do so far is a list of headings for the wiki. Is this the kind of thing ppl are looking for?

[2015-12-08 12:11] lewiscowper opened #36 "How to submit animals?"
We have no documentation on how to submit animals to the tumblr. We should add that. :)

[2015-12-13 20:34] renrutnnej commented on #1
Thanks @Web-Dev-Rich!

I moved the style guide to its own page so that we can utilize the wiki for other guides, resources and docs.

[2015-12-13 20:54] Charlotteis commented on #1
Good job so far @Web-Dev-Rich & @renrutnnej. I appreciate your efforts!

[2015-12-13 21:33] renrutnnej commented on #1
Okay I've added some initial contributions to the guide (which you can see [here](https://github.com/hoodiehq/editorial/wiki/Hoodie-Language-Style-Guide), so I think we've successfully created our first draft 🎉

[2015-12-13 22:02] renrutnnej commented on #2
I stubbed out the md in this PR (https://github.com/hoodiehq/editorial/pull/37)

[2015-12-13 23:53] gr2m commented on #36
We activated the "submit a post" feature on http://meetthehoodies.tumblr.com/, so everyone can submit suggestions now

[2015-12-13 23:56] nolanlawson commented on #36
Can we have a green kangaroo to celebrate the partnership between Hoodie and Pouch? :smiley:

[2015-12-14 00:03] gr2m commented on #36
@nolanlawson <3

[2015-12-15 16:23] renrutnnej opened #39 "Contributing to the editorial repo"
I can't remember if I saw discussion on this in Slack or not, but have we determined criteria for closing issues and pull requests?

I know there's a method for contributing to the Hoodie project outlined in the CONTRIBUTING doc [here](https://github.com/hoodiehq/hoodie/blob/master/CONTRIBUTING.md#pull-requests) for the primary Hoodie repo so I'm proposing that we use that to start.

Barring any o

[2015-12-15 16:33] Charlotteis commented on #39
What do you mean by "working through the repo"? :)

[2015-12-15 16:35] renrutnnej commented on #39
Oops, that was vague.

I meant that there are some things that could be pushed forward or closed at this point, but I'm unsure if we've determined the method for that. I'm available to help do so, but I wanted to follow the appropriate route.

[2015-12-15 16:56] Charlotteis commented on #39
We discussed this in Slack, but just to sync all info: Yes, ok!

[2015-12-18 04:12] schisepo commented on #34
Post published 2015/12/17

[2015-12-18 04:12] #34 closed

[2015-12-18 09:50] schisepo opened #40 "Meet the Hoodie - @charlotteis"
Hi @Charlotteis  :smiley: :wave:

We'd like to feature you in our "Meet the Hoodies" series. We're working on this series to get the editorial process right and to introduce/ re-introduce the amazing people behind Hoodie. Kindly respond to the questions below and submit a quirky photo to go with the final blog post:

1. What's your favorite animal?

2. What's your role / what have you contributed

[2015-12-21 19:45] Charlotteis commented on #40
Hello @schisepo, thanks for setting this up!

**I have answered most of these but please consider this a draft, a lot of it is clumsily worded and I haven't answered the final question and would like to think on it some more**.

**What's your favourite animal**

Growing up I had many favourite animals, including the White Bengal Tiger. Now, I think I've settled on the Fox. They used to hang out un

[2015-12-21 19:48] Charlotteis commented on #40
I think I also need to make everything short :see_no_evil:

[2015-12-21 23:12] bnb commented on #3
Hey, I'm available to take this one over now. Any input on content?

[2015-12-21 23:14] bnb commented on #6
Cleanup: Can this be closed, as https://github.com/hoodiehq/editorial/pull/12 has been merged?

[2015-12-21 23:27] bnb opened #41 "Status Update?"
Hello again, everybody.

I just wanted to see what the status of this project was, and where it is going to go from here. It seems to have majorly died down in the past month with lots of open-ended Issues and PRs. Are we still going to actively develop the editorial side of Hoodie? If so, who is going to continue contributing from now on, after the original publicity has faded?

[2015-12-23 11:00] Charlotteis commented on #41
I know @renrutnnej was intending to do some stuff with all the open PRs.
I'm waiting on a few things from @janl to do some stuff (whereever I've mentioned their name in a PR or Issue on this repo)
I've started my "interview with Hoodie" thing. I know my Pull Request guide is still unfinished but it takes a lot of work.

I know it must be discouraging, but we only asked people to contribute an hour

[2015-12-23 11:07] Charlotteis commented on #41
I have gone through all of the PRs and cleared everything out.

[2015-12-23 11:08] Charlotteis commented on #36
We still need to create the readme for this ("Submit a post to this tumblr (link)") in an .md somewhere in this repo. A nice small task.

[2015-12-23 11:09] Charlotteis commented on #18
We've added a contact template, just waiting on some more stuff to happen before Jan and I can add ourselves to the template.

[2015-12-23 11:10] Charlotteis commented on #2
Merged Jenns template, it needs to be filled out now.

[2015-12-23 11:12] lewiscowper commented on #36
I can take this.

[2015-12-23 12:04] #36 closed

[2015-12-23 15:16] gr2m commented on #40
this is very, very lovely, @Charlotteis. Reading this totally made my day <3

[2015-12-23 15:29] janl commented on #41
@bnb Heya, thanks for checking in. I’m not sure what your other experiences in open source are, but as far as I can tell from my humble experience, we have made tremendous progress for the few weeks that this has been a thing.

Like @Charlotteis said, it is the end of the year and everyone is doubly busy and we still get things moving forward.

Everyone, don’t be discouraged by this, we all do wha

[2015-12-23 16:19] Charlotteis commented on #40
:sparkling_heart:

[2015-12-23 17:14] bnb commented on #41
@janl Okay, really happy to hear that. I just took a look at the repo for the first time in a while, and it seemed like all the issues/comments in them were 20+ days old. I didn't, however, look at newly closed issues.

Awesome to see that we're still kicking. I'll start doing work where I can.

[2015-12-23 17:15] bnb commented on #1
@renrutnnej Wow, that's awesome! I'll start writing on that ASAP.

[2015-12-27 18:52] janl commented on #5
This sounds like a solid plan. Who’s interested in setting up the weekly plan? I’m happy to share Hoodie account credentials any time! Just ping me

[2015-12-27 18:56] janl commented on #14
Heya, this all looks very fabulous. I don’t think we need to worry about coming up with a complete list right now before we continue with this. As we go along, and as everyone is more involved here, next candidates will show up organically. And if not, always feel free to reach out to me or @gr2m or @espy to suggest somebody.

[2015-12-27 18:56] janl commented on #9
This looks all good to me, can we close this as we now have a post online, another one in the making and a documented process?

[2015-12-27 18:59] Charlotteis commented on #9
I'm happy to close this. As always, we can re-open it if we need to :)

[2015-12-27 18:59] #9 closed

[2015-12-27 19:00] Charlotteis commented on #14
@janl are you wanting to close this, then?

[2015-12-27 19:00] janl commented on #40
This is all great, I filled out two empty links, hope you don’t mind :)

@Charlotteis whenever you are up for answering the last question, after that it’s ready to go IMHO :)

[2015-12-27 19:02] janl opened #44 "blog post suggestion: meet the hoodies, in person edition"
@gr2m should write up his experiences with running two Your First PR / Hoodie hands-on workshops in New York.

@gr2m: I know you don’t consider yourself a strong writer and I’m more than happy to help, maybe you can start with an outline, and a few paraphrased bullet points per paragraph and I turn it into prose?

[2015-12-27 19:08] janl commented on #10
Great discussion here, sorry for coming in late.

I’m very versed in open source licenses and and CC-BY-SA-4.0 is a great suggestion. One addition might be NC (non commercial), it means, our blog posts can’t be re-blogged with ads, which I think is a good idea, but I’m happy to go with group consensus on this one (the original author will still be able to do whatever they want).

Other than than,

[2015-12-27 19:13] janl opened #45 "This is a test to see if Slack integration works."

[2015-12-27 19:14] janl commented on #45
works!

![screen shot 2015-12-27 at 20 13 35](https://cloud.githubusercontent.com/assets/11321/12011619/5e81347c-acd6-11e5-91fb-00a6e8d46087.png)

[2015-12-27 19:14] #45 closed

[2015-12-27 19:14] janl commented on #17
Done: https://github.com/hoodiehq/editorial/issues/45

Notifications for PRs, Issues and git pushes, but not individual comments on issues.

Let me know if this should be tweaked.

[2015-12-27 19:14] #17 closed

[2015-12-27 19:15] #6 closed

[2015-12-27 19:20] janl commented on #14
Mainly, it looked to me that the process might be stuck on not having a complete list of people to put into the series and all I wanted is unblock this :)

@Charlotteis if this isn’t needed for anything else, we should close it, yes,

[2015-12-27 19:23] janl commented on #1
This is fantastic! <3

Process question: should we keep this open until most of the placeholders are filled out, or should we close these and open individual issues for each placeholder (or group of placeholders)?

On the one hand: smaller scoped issues might attract more people to contribute vs. many open issues might turn people off.

[2015-12-27 19:39] janl commented on #18
other stuff: check

[2015-12-27 21:08] Charlotteis commented on #18
Ace, thanks Jan. Will PR this up tomorrow.

[2015-12-27 21:09] Charlotteis commented on #14
Right, then let's close it. :tada:

[2015-12-27 21:09] #14 closed

[2015-12-27 21:19] Charlotteis commented on #40
Sure thing, I'm so swamped with life and holidays and am back to work on Tuesday. However if I get some time tomorrow I will tidy this up. Else, I will for sure carve some time out another day this week.

[2015-12-27 21:20] Charlotteis commented on #44
I would love to see this written, and am happy to help too.

[2015-12-27 21:24] Charlotteis commented on #10
I'm happy for this to go ahead. You've brought some really good things to the table here @bnb, would you be happy with CC-BY-SA-4.0? I'm fine with the NC part too, in the spirit of Open Source.

I'd also like to apologise for my lack of knowledge in this area, reading through this again I can totally see why Licensing is important, it's another way we can respect our authors and creators and the w

[2015-12-27 22:39] Charlotteis commented on #41
Think I will close this in the hopes that @bnb is sufficiently updated and if not, will be soon :)

[2015-12-27 22:39] #41 closed

[2015-12-27 22:40] Charlotteis commented on #39
@renrutnnej Jan and I have gone through a lot of issues and closed what needs to be closed, merged what needed to be merged. Was there anything you want to see come out of this issue in particular, did we need to write process anywhere? Or can we close? :sparkles:

[2015-12-27 22:43] Charlotteis commented on #15
Seems like this discussion ended, do we want to create an issue specific to creating a mission statement? Do we need one? Seems like there is still some confusion. Happy to help unconfuse if I can!

[2015-12-27 22:49] Charlotteis commented on #3
Just a few ideas:

1. What the team is
2. How it started (i think someone should have a pic of the google hangout? i tried to find one on my computer, but no luck :()
3. Where you can find us
4. Examples of our work so far and open discussions we are having
5. How you can contribute

[2015-12-27 23:44] gr2m commented on #44
Thanks you two, I love the idea to write about it, I’ll give it some thoughts this week :)

[2015-12-28 15:13] Charlotteis commented on #40
I have answered the final question. I just need to go through and correct grammar and spelling. Appreciate anyone who has the time to look at this :)

[2015-12-28 15:50] schisepo commented on #40
Taking a look😊

[2015-12-28 15:52] Charlotteis commented on #40
I also made a .gif as you wanted a quirky image :D

[2015-12-28 16:09] janl commented on #40
@Charlotteis looks great! :)

I changed “Node.JS” to “Node.js”, hope you don’t mind.

[2015-12-28 16:20] schisepo commented on #40
I'd create a PR for the .md file from which we can make further edits but I
can't access the .md for the comment 😯
On 28 Dec 2015 6:09 pm, "Jan Lehnardt" <notifications@github.com> wrote:

[2015-12-28 16:31] Charlotteis commented on #40
Our styleguide says to say "Node.JS". Which is the right one?
https://github.com/hoodiehq/editorial/wiki/Glossary-of-common-terms#n

Here you go @schisepo -> https://gist.githubusercontent.com/Charlotteis/7217c50535460435c4ee/raw/0dbd997b9bb6b82f50f9820233e8d9f4937f2978/meetthehooides.md

[2015-12-28 16:31] Charlotteis commented on #40
^ @janl

[2015-12-28 16:59] renrutnnej commented on #1
I think it'd be suitable to close this now that it's been started @janl, so I'm going to do that now.

And to answer your question I think individual issues would be the most appropriate for further additions. :D

[2015-12-28 16:59] #1 closed

[2015-12-28 17:01] renrutnnej commented on #39
We can totally just close it :)

[2015-12-28 17:01] #39 closed

[2015-12-28 17:05] renrutnnej commented on #40
@Charlotteis @janl feel free to update the styleguide! I used the phrases I found from copy on all of the Hoodie sites as a reference.

[2015-12-28 19:53] schisepo commented on #40
@everyone, @Charlotteis's "Meet the Hoodie" blog post is available for editorial review here -> [PR for Charlotte's article] (https://github.com/hoodiehq/editorial/pull/47). We have 72 hours :smiley:

[2015-12-28 20:22] janl commented on #40
fixed the style guide :P

[2015-12-28 21:20] Charlotteis commented on #40
Thanks everyone! :)

[2015-12-28 22:32] bnb commented on #24
@schisepo Fair point. I struck the point about active/contributor.

[2015-12-28 22:34] bnb commented on #24
Is there a CoC for this repo, or a blanket one for all Hoodie projects? If not, the CONTRIBUTING.md file is linked in the README.md file, meaning that item can be struck as well.

[2015-12-28 23:34] bnb commented on #15
What I think the decided course of action is:
* Create a CoC
* Create a Mission Statement
* Documentation in the repo (`CODEOFCONDUCT.md` and `MISSION.md`?)

[2015-12-29 08:54] Charlotteis commented on #15
Hoodie does have a CoC already, so we should be good on that front.

[2015-12-29 08:55] Charlotteis commented on #24
http://hood.ie/code-of-conduct/

[2015-12-29 11:54] gr2m commented on #40
Just one thought: can we put it online on Jan 5th or so? I’d be a great article to kick off the new Hoodie year, and if we launch it on Jan 1st probably many people won’t see it?

[2015-12-29 12:43] janl commented on #40
I definitely suggest we do it Jan 5!

The 72 hours is for everyone giving feedback, not when it (necessarily) goes live.

[2015-12-29 13:12] Charlotteis commented on #40
Agreement :)

[2016-01-06 08:51] janl commented on #40
And we’re live! https://github.com/hoodiehq/hood.ie/pull/221 \o/

[2016-01-06 20:31] Charlotteis commented on #40
:+1:

[2016-01-06 20:31] #40 closed

[2016-01-06 20:46] Charlotteis commented on #25
Let's pick a project.

[2016-01-07 16:27] summerspirit commented on #5
Hi everyone!
Hope the holidays were good :)

Based on some of the comments here, I have a 2-part solution for tweet planning:
1. Use Trello for planning tweets, collaboration, drafting and discussion
2. Move things from Trello to Tweetdeck once tweets are ready to be scheduled to go live

So, I have:

1. Created a Trello board
  * for planning, drafting and collaborating on tweets
 It's currently

[2016-01-07 16:36] summerspirit commented on #11
Maybe we can look to other people writing about hood.ie for some word choice ideas?
![screen shot 2016-01-07 at 4 35 38 pm](https://cloud.githubusercontent.com/assets/4708646/12175937/cc3b8448-b55c-11e5-8b28-177bcfe0c78b.png)

http://www.toptal.com/front-end/introducing-hoodie-full-stack-app-development-for-front-end-developers

[2016-01-07 16:54] nickcolley commented on #11
:+1: this is definitely in the scope of editorial in my opinion.

If you were to take a UXy approach you could define personas (Similar to what @gr2m has commented with) and then define user journeys based on that. Then with those you could do user testing with new users to see if they can fulfil those journeys.

Just a few thoughts on how this could be done in a measured way, great work regardles

[2016-01-15 17:32] gr2m opened #49 "Collaborating on upcoming Tent Release"
Jan recently wrote about Hoodie’s [The (Larger) Hoodie Roadmap](https://github.com/hoodiehq/discussion/issues/88)

tl;dr The larger milestones are:

1. Contributors
2. Developers
3. Users

I would love to put our heads together and think about how we can improve as the Hoodie community to become more friendly towards new and existing contributors.

The motivation is this: from the code side of Hoo

[2016-01-17 09:39] janl commented on #5
This is aamaaaaaaazing <3

[2016-01-17 10:18] Charlotteis opened #50 "Meet the Hoodies Readme"
# The Problem

We have no file to read to show us how to do a Meet the Hoodies interview.

# The Solution

Write a document in this repo, telling team members how they can do a 'Meet the Hoodies' blog post like #40. Covering the picking, the writing, the reviewing, the publishing.

Interview questions are:

[code]

[2016-01-17 10:19] janl commented on #50
on it.

[2016-01-17 10:34] janl commented on #50
PR here: https://github.com/hoodiehq/editorial/pull/51

[2016-01-17 10:34] #50 closed

[2016-01-17 13:07] janl opened #52 "Meet The Hoodies: Jenn"
As per https://github.com/hoodiehq/editorial/blob/master/documents/blog-post-types/meet-the-hoodies.md

I’m nominating  @renrutnnej :)

Here are your questions!

1. What's your favorite animal?

2. What's your role / what have you contributed to Hoodie?

3. What's your favorite use of Hoodie in the wild?

4. What in your opinion makes the Hoodie project unique and interesting?

5. What advice do y

[2016-01-17 13:56] schisepo commented on #52
Thanks for taking this up ☺☺☺ I'm away from reliable connectivity at the
moment.
On 17 Jan 2016 4:08 pm, "Jan Lehnardt" <notifications@github.com> wrote:

[2016-01-17 14:42] janl commented on #52
@schisepo you’re very welcome! :)

[2016-01-19 15:26] renrutnnej commented on #52
I'm working on this today!

[2016-01-23 13:12] Charlotteis commented on #52
@renrutnnej these responses are great :)
Does anyone else want to review this or help get this on to the website?
If no-one takes this up in the next couple of days I'll do it myself, though would love it if someone else could learn how to do it to see if the process works for them :)

[2016-01-23 13:22] Charlotteis commented on #52
Have turned your notes into a markdown file everyone can review at #53

[2016-01-23 13:26] Charlotteis commented on #49
If we had a page on the website showing starter issues, that would be amazing. How do you imagine that working? A link to the ubersicht or do you want to build a page using the GitHub API, falling back to the ubersicht link if it doesn't work?

I'd love to have an explanation on git, github, forking, PR's & node etc.
How about we create a little guide we can host on its own website, writing in a w

[2016-01-23 14:12] gr2m commented on #49
I would say that for the upcoming release, it would make sense to directly load & embed starter issues on the hood.ie landing page, and link to ubersicht for more.

For the explanation  on basics, I’d suggest we do a Hoodie specific first, and then see if we can make a generic one together with other projects? We could make a blog post for Hoodie that we can link to for a start, and then see how w

[2016-01-23 14:24] Charlotteis commented on #49
:+1:

:+1: ok

[2016-01-29 12:17] gr2m commented on #49
Another idea I had for the Tent release would be a landing page for new and existing contributors. It would be like docs.hood.ie, but documentation for contributors, not users. We could document conventions like how we do READMEs, how we prepare issues to make them "starter" issues, what tools we use, why, and how, we could make tutorials where we go through the code base explaining how things wor

[2016-01-29 14:15] nickcolley commented on #49
I should be available to help with getting anything into the website. :+1:

[2016-01-29 21:32] ianstalter123 commented on #49
I'd be interested in seeing a dumbed down overview/tutorial/ of how the hapi routes and authentication are laid out for reference etc

[2016-02-02 14:41] gr2m opened #54 "Post Proposal: Meet the Hoodies"
Our first 4 "Meet the Hoodies" events in NYC, Berlin and Frankfurt:
https://ti.to/hoodie/

2000 characters?

I have a draft already:
https://docs.google.com/a/martynus.net/document/d/16h0c2NDfPn_PFZc_UoXgoHk8ZZkhcC7N2lzuqucp93w/edit?usp=sharing – please edit away <3

Yes, I uploaded them to flickr:
https://www.flickr.com/photos/116240988@N08/sets/72157664073558051

not really :(

- https://twitter

[2016-02-02 14:57] janl commented on #54
Excellent @gr2m! — I’ve left a few minor notes. If we can get this into shape, I’d love to post it this week :)

[2016-02-03 21:48] gr2m commented on #54
here is the PR to the website:
https://github.com/hoodiehq/hood.ie/pull/226

So I guess I can close this?

[2016-02-03 21:48] #54 closed

[2016-02-16 16:25] gr2m commented on #44
done via http://hood.ie/blog/meet-the-hoodies-offline.html

[2016-02-16 16:25] #44 closed

[2016-02-17 03:01] jsimplicio commented on #49
@gr2m hey the last thing you said here should be referenced on the new thread about the landing page. It pretty much covers how it should be layout

[2016-02-17 04:33] gr2m commented on #49
done https://github.com/hoodiehq/discussion/issues/90#issuecomment-185015986 :+1:

[2016-02-18 21:19] gr2m opened #55 "Post Proposal: Your Title Here"
[code]

[2016-02-22 02:53] gr2m commented on #52
done via https://github.com/hoodiehq/editorial/pull/53

[2016-02-22 02:53] #52 closed

[2016-02-22 19:20] renrutnnej commented on #4
It seems this has been resolved through the [How to submit a pitch](https://github.com/hoodiehq/editorial/blob/master/CONTRIBUTING.md#pitching-an-article-to-the-hoodie-blog) and the [Hoodie Blog Post Process](https://github.com/hoodiehq/editorial/blob/master/documents/blog-process.md).

[2016-02-22 19:26] Charlotteis commented on #4
@renrutnnej it was actually intended to be an indepth guide to how to submit a post to the hoodiehq/hood.ie repo, with command line and in-browser instructions. It feels like the guides you linked to cover pitching and the writing process, not the Pull Requesting to the website itself? I'm okay to be wrong here, of course.

https://github.com/hoodiehq/editorial/pull/20 is an idea of what I had sta

[2016-02-22 19:27] renrutnnej commented on #4
Oh you’re right @charlotteis, I’ll reopen because that’s an awesome idea. 

-- 
Jenn Turner
😎Human being at jennpm.com😎

On February 22, 2016 at 2:26:14 PM, Charlotte Spencer (notifications@github.com) wrote:

@renrutnnej it was actually intended to be an indepth guide to how to submit a post to the hoodiehq/hood.ie repo, with command line and in-browser instructions. It feels like the guides you

[2016-02-23 10:31] #55 closed

[2016-02-23 19:44] renrutnnej commented on #15
I just added a draft of a Mission Statement to the README via this PR (https://github.com/hoodiehq/editorial/pull/56) and would love feedback/reviews!

[2016-02-24 22:34] o4tuna opened #57 "Wikipedia"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

How to add/edit entries for [Wikipedia](https://en.wik

[2016-02-25 19:17] renrutnnej opened #59 "Remove blog-post drafts from Editorial repo"
Hello Editorialites ✨

I would like to suggest that we make the contribution process a tad clearer and more accessible for folks to jump in on.

Right now as it stands, the process to get something on the blog from suggestion to publication looks like this:
- Suggest blog post topic in `hoodiehq/editorial` issues
- Upon approval author creates text in their preferred format
- Text is formatted int

[2016-02-25 19:30] renrutnnej commented on #15
Published a Mission Statement in the README today so I'm closing this now since there wasn't any other discussion.

[2016-02-25 19:30] #15 closed

[2016-02-25 19:31] renrutnnej commented on #18
Closing this since contacts were added. :+1:

[2016-02-25 19:31] #18 closed

[2016-02-25 19:42] Charlotteis commented on #59
:+1:
lets get rid of everything in blog-posts

[2016-02-25 19:51] renrutnnej commented on #24
We're going to follow the contributing guidelines of the overall project, so no formal process is necessary.

[2016-02-25 19:51] #24 closed

[2016-02-25 21:32] janl commented on #59
+1

[2016-02-25 21:36] gr2m commented on #59
yeah, :100: for streamlining :)

[2016-02-25 21:37] skeskali commented on #15
I'm sorry I missed this. I was in hospital for a few days and only just saw it.

[2016-02-25 21:59] Charlotteis commented on #15
@skeskali Absolutely no need for apologies. Sorry to hear you were in the hospital, I hope you're doing ok!

[2016-02-29 20:58] gr2m opened #60 "Update twitter.com/hoodiehq background image"
### :dart: The goal

the current background banner image is a bit outdated:

![hoodiehq-banner](https://cloud.githubusercontent.com/assets/39992/13408697/21348142-defd-11e5-8e29-d4db086a2fb3.png)

We would like to replace at least the image on the right side with [one or two images from our Meet the Hoodies events](https://www.flickr.com/photos/116240988@N08/sets/72157664073558051), which show tha

[2016-03-01 08:52] girvo commented on #60
![new-hoodie-bkg](https://cloud.githubusercontent.com/assets/1305443/13422149/85cf3b10-dfde-11e5-8213-9d450d938bba.png)

I took a swing at it, figured it was worth a shot, though feel free to use someone elses effort: I'm certainly no graphic designer, just a developer with a Sketch license :+1:

[2016-03-01 12:37] gr2m commented on #60
I think it’s great :) I’ll put that in, but if anyone would like to make an alternative suggestion, comment below :)

[2016-03-01 14:00] renrutnnej commented on #60
Thanks Josh! This looks great ☺️

On Tuesday, March 1, 2016, Gregor Martynus <notifications@github.com> wrote:

[2016-03-01 15:10] #60 closed

[2016-03-01 16:58] renrutnnej commented on #59
I deleted the folder and tweaked the [README](https://github.com/hoodiehq/editorial/commit/5711486b5c57eb4cc3fdf3b98616c5f16511a01a) for the time being. I need to review the files in `/documents` to get some clarity on process decisions there.

My intent for now is to point people to a stream lined process so they feel empowered to contribute right away, instead of being confused by the disconnect

[2016-03-01 16:58] #59 closed

[2016-03-01 17:03] renrutnnej commented on #5
Hi @schisepo @summerspirit @bnb
– are any you still interested in contributing to the twitter team? I'd like to bump this so we can make some progress on social media stuffs :relaxed:

[2016-03-01 17:11] jennwrites opened #61 "CONTENT: /contributors"
Per https://github.com/hoodiehq/discussion/issues/90
Part of https://github.com/hoodiehq/editorial/issues/49

We need a contributor to help create copy for a landing page for new and existing contributors (currently at http://hood.ie/contribute/). It would be like docs.hood.ie, but documentation for contributors, not users.

We could document conventions like how we create READMEs, how we prepare

[2016-03-01 17:12] renrutnnej commented on #49
Created an editorial issue https://github.com/hoodiehq/editorial/issues/61 for the /contributors request in this issue :+1:

[2016-03-01 17:33] schisepo commented on #5
Hi Jenn, I'm still interested. Am in transition at the moment, new city,
new job. I should be settled in a couple more weeks.
On 1 Mar 2016 19:04, "Jenn Turner" <notifications@github.com> wrote:

[2016-03-01 17:33] renrutnnej opened #62 "BLOG: The return of TGIF!"
Check out the [TGIF doc here](https://github.com/hoodiehq/editorial/blob/master/documents/TGIF.md).

We need contributors to help curate this weekly blog post of a fun roundup of interesting weekend reads for our Hoodie blog friends.

The time commitment is very minimal and I could see a single contributor doing this once a week (after reviewing the initial template __I bet someone could do the wh

[2016-03-01 17:40] jennwrites opened #63 "Welcoming contributors on Twitter"
In the process of welcoming contributors / maintainers / core team and whatnot, we should make sure to follow these people on twitter with @hoodiehq AND tweet to welcome them!

[2016-03-01 18:26] gr2m commented on #62
I can be in charge to provide info on what is happening in the code part of the community, like new code contributors, new releases, questions we currently discuss, etc

[2016-03-01 20:35] skeskali commented on #63
I like this idea.

[2016-03-01 20:37] skeskali commented on #62
I'd love to do this!

[2016-03-01 21:36] nickcolley commented on #63
:+1: this is a nice idea

[2016-03-01 23:17] renrutnnej commented on #62
Wooo hoo! @skeskali would you be up to getting one ready for this Friday?

[2016-03-01 23:42] skeskali commented on #62
Absolutely!

[2016-03-02 14:47] renrutnnej commented on #5
Glad to hear it @schisepo, and congrats on your new journey ☺️

[2016-03-02 17:19] summerspirit commented on #5
I'm available and interested. Just wanted to move forward as a team :)
Is there a start date we want things in motion?

Cheers,

[2016-03-02 17:38] renrutnnej commented on #5
@summerspirit Yay! I'm happy to hear that. As far as a start date, there's nothing keeping us from starting it right now. Is there anything I can help do to get you started? Assuming other contributors will help as they become available of course, so it's not all on you.

[2016-03-02 19:17] summerspirit commented on #5
@renrutnnej Well, I just gathered people's suggestions on types of topics we can cover.
Is there content right now that needs communicated now/over the next couple weeks? Like, conferences, workshops, code updates coming...

If you could please point to some titles/events/dates/keywords, that would be super awesome :)
Is there anything that needs to parallel/hook into upcoming newsletters?

[2016-03-02 19:17] renrutnnej opened #64 "CONTENT: Write a bio for Blog Bear"
Part of https://github.com/hoodiehq/hood.ie/issues/234

### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

In preparation for the Camp Release

[2016-03-02 19:24] renrutnnej opened #65 "CONTENT: Write a bio (and pick out a name) for the development mascot, a beaver"
Part of https://github.com/hoodiehq/hood.ie/issues/234

### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

In preparation for the Camp Release

[2016-03-02 19:25] renrutnnej opened #66 "CONTENT: Create a bio (and pick out a name) for the design mascot, a llama"
Part of https://github.com/hoodiehq/hood.ie/issues/234

### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

In preparation for the Camp Release

[2016-03-02 19:30] renrutnnej opened #67 "CONTENT: Additional copy for hood.ie/get-help"
Part of https://github.com/hoodiehq/hood.ie/issues/234

### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

In preparation for the Camp Release

[2016-03-02 19:33] renrutnnej commented on #5
@summerspirit Do you want to meet sometime and I can help point you to resources and answer your questions? I have availability tomorrow :)

[2016-03-02 19:42] renrutnnej opened #68 "CONTENT: Additional copy for hood.ie/community"
Part of https://github.com/hoodiehq/hood.ie/issues/234

### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

In preparation for the Camp Release

[2016-03-02 19:55] summerspirit commented on #5
@renrutnnej That'd be really good!
I have some time tomorrow too. I'm in Dublin time.
My Skype is naomi-hello_world, if that works for you.
Let me know what time would work best :)

[2016-03-02 20:59] gr2m commented on #66
It's an Alpaca, very important :tm: :)

[2016-03-02 21:58] summerspirit commented on #66
No, they're not at all. Alpacas make the softest softest teddy bears and blankets ever <3
Alpaca fur teddy:

![alpaca-teddy-bears-08](https://cloud.githubusercontent.com/assets/4708646/13476872/ac552cac-e0c1-11e5-9398-cbe9b4dae25d.jpg)

(don't worry - they shear it off like we do with sheep)

[2016-03-02 22:03] renrutnnej commented on #5
@summerspirit Are you available at 2pm your time? I can do anytime between then and 5pm (your time).

[2016-03-02 22:08] summerspirit commented on #5
@renrutnnej 2 p.m. my time works great! chat with you then :)

[2016-03-03 17:39] gr2m opened #69 "Questionnaire for new contributors"
we shortly discussed this in [Hoodie Chat](http://hood.ie/chat) and agreed it would be a good idea, so let’s do this :)

We would love to ask first time Hoodie contributors a few questions. A common situation for that would be if a starter issue like this gets merged: https://github.com/hoodiehq/hoodie-server-account/issues/98

I suggest a few questions here and am looking forward to your input, i

[2016-03-04 16:08] summerspirit commented on #65
Hi @renrutnnej !
Just claiming this one :)

[2016-03-04 16:10] summerspirit commented on #69
Perhaps just a note on what will be public/private information?
If someone didn't have a stellar experience they might want it going just to particular people.
Right now it feels sort of in the same place with "Twitter handle" and we might want to create a separation, just in presenting the info and knowing where it's going to :)

[2016-03-04 16:14] summerspirit commented on #57
Suggestions for articles to model after?
[Puppet](https://en.wikipedia.org/wiki/Puppet_(software))
[Rails](https://en.wikipedia.org/wiki/Ruby_on_Rails)

Or do we want to go some other direction for it?
I'm just posting possible models to follow because Wikipedia gave me a warning that it should be an encyclopedia entry, not a sales pitch. I hadn't even typed anything! lol

[2016-03-04 16:21] renrutnnej commented on #65
Perfect! :relaxed:

[2016-03-05 10:26] Charlotteis commented on #69
I updated the pronouns in question two and added "or something else" as there are 100s of different pronoun combinations :)

[2016-03-05 10:28] Charlotteis commented on #62
Closing because we did the first return TGIF (good job everyone!), but please reopen it if I shouldn't have!

[2016-03-05 10:28] #62 closed

[2016-03-05 10:29] Charlotteis commented on #63
Absolutely, and we've already started :D

[2016-03-05 20:25] gr2m commented on #64
As we already shown blog bear on our newsletters, we don’t need to make secret of it, so here it is :)

![blog-bear](https://cloud.githubusercontent.com/assets/39992/13550207/6ceaf098-e2e6-11e5-8883-ba2b4a014169.png)

[2016-03-05 20:32] gr2m commented on #65
Hey @summerspirit, we can send you an image of our Beaver if you like :) Ping us on [Twitter](http://twitter.com/hoodiehq) or in our [Hoodie Chat](http://hood.ie/chat) and we will figure out a way to share it with you, without spoiling the surprise to everyone else :)

[2016-03-05 20:49] gr2m opened #71 "Post Proposal: Create your own app with Hoodie’s Camp Release"
The only way to play with the new Hoodie version is to setup https://github.com/hoodiehq/hoodie-app-tracker. But there are no real instructions on how to build your own app with the new Hoodie, and I think it would be nice to have a place where we can send people to who want to play with the latest Hoodie version. A blog post might be a great resource for that. Once it’s outdated, we can update it

[2016-03-07 08:34] jo-porter commented on #68
Hallo :) A couple of the listed folks have already been added to the community page, and I've got the everything ready for the remaining content.

I was wondering whether it'd be super cheeky if I took this editorial issue as well, just so I can get the updates done.

Such apologies for my eagerness, when I get into a task there's no stopping me :-/ If you'd rather let another hood.ie newbie tackl

[2016-03-07 15:35] renrutnnej opened #72 "Add Hoodie to http://pouchdb.com/users.html"
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

We need someone to create some copy (1-2 sentences) about Hoodie and submit it to the offic

[2016-03-07 15:36] janl commented on #68
@jo-porter GO GO GO

[2016-03-07 15:36] renrutnnej commented on #68
Hi @jo-porter! No apology necessary, thank you for the eagerness!

[2016-03-07 15:37] Charlotteis commented on #68
@jo-porter Hi! I ticked off the bios for myself and julia as we already did those.

I cannot see a world in which you are being cheeky, please feel free to contribute! :D

[2016-03-07 15:39] jo-porter commented on #68
Thanks all :)

[2016-03-07 15:42] jo-porter commented on #68
Is email going to be the simplest way to contact folks for copy, do we think?

[2016-03-07 15:42] janl commented on #68
or @-mention them here :)

[2016-03-07 15:43] janl commented on #68
email sounds fine though.

Haunting on Slack is also acceptable ;)

[2016-03-07 16:12] nickcolley commented on #72
You can find out how to contribute to the site here: https://github.com/pouchdb/pouchdb/blob/master/CONTRIBUTING.md#building-pouchdb-documentation

Whoever claims this issue ping me if you need any help contributing to PouchDB :smile_cat:

[2016-03-07 18:18] renrutnnej commented on #3
Hi folks, just finished a rough draft of this post. Needs feedback here: https://docs.google.com/document/d/1TsI7Cwe-IKgoVz2u4f-V0RWVWHKSun6K0SXpRx52L-U/edit?usp=sharing

[2016-03-07 18:27] renrutnnej commented on #57
Are you volunteering to take this on @summerspirit?

[2016-03-07 18:29] renrutnnej commented on #69
How would we track this and know when to send the questionnaire? I'm curious about managing this effort although I acknowledge I might be getting ahead of myself.

[2016-03-07 18:56] summerspirit commented on #57
@renrutnnej Sure! Assigned it to myself.
I'll submit it here like a blog post for review though, in a Google docs link, before I post it live.

[2016-03-07 19:36] gr2m commented on #69
I would probably create a google form for it, and then post the link when thanking someone for their first pull request, but we can also send people a direct link if they contributed something else, as we see fit.

I’m also wondering if we could simplify the form, reduce the questions and also explain who has access to the answers. Personally, I'm very interested in why they contribute, and why th

[2016-03-07 19:48] gr2m commented on #3
love it :clap:

[2016-03-09 14:10] NeekyRabbit commented on #64
Hello - I'd love to write a bio for the Bear. I've never done a pull request before.

[2016-03-09 14:10] matsieftw commented on #64
I'd love to write one as well!

[2016-03-09 14:24] renrutnnej commented on #64
@NeekyRabbit The blog bear is yours! I'll assign you. I'm Jenn. Please let me know if you have any questions or need any help.

@matsieftw There's another animal bio issue if you want to check it out: https://github.com/hoodiehq/editorial/issues/66 Comment there if you're interested in taking that on :relaxed:

Thank you both for responding!

[2016-03-09 14:25] matsieftw commented on #66
I'd love to write a bio for an alpaca!!

[2016-03-09 14:25] renrutnnej commented on #66
Thanks @matsieftw, I'll assign you to the issue! Let me know if there's anything I can do to help get you started :relaxed:

[2016-03-09 16:48] NeekyRabbit commented on #64
Hello @renrutnnej I've got a first draft, based on the style of the Docs Chicken, let me know what you think.
 https://docs.google.com/document/d/1gJZnZxTYMRYek54O5xqeLK1NcIDSijTeO17eZ7Tikto/edit?usp=sharing

[2016-03-09 17:21] gr2m commented on #64
@NeekyRabbit could you allow for comments to everyone with the link?

PS: You made my day big time I’ve this grin and it doesn't go away, love when that happens 😻🐻

[2016-03-09 17:25] janl commented on #64
@NeekyRabbit this is be my favourite thing in the world right now <3333

[2016-03-09 18:33] NeekyRabbit commented on #64
Happy to have put a smile on people's faces @gr2m @janl - it should allow comments now.

[2016-03-10 11:31] NeekyRabbit commented on #64
I've been in and made a change to the copy @janl based on @gr2m feedback.

[2016-03-10 15:56] rubymorillo commented on #67
Hey team, I'd like to claim this issue!

[2016-03-10 16:04] renrutnnej commented on #67
It's all yours @rubymorillo! Please let me know if you need any help to get started, or if you get stuck! ☺️

[2016-03-10 17:30] renrutnnej commented on #3
Closing per this post going live today: http://hood.ie/blog/shaping-an-open-source-editorial-team.html

[2016-03-10 17:30] #3 closed

[2016-03-11 09:48] summerspirit commented on #65
Morning!
@renrutnnej  @janl
[Beaver Bio for review](https://docs.google.com/document/d/1NDgR0ubr87qvJf4fCXNlOh1OXL46miuAKOzkl8qSrcg/edit?usp=sharing) :)

Image not included because I understand there's some big reveal secrecy around this? :D

[2016-03-11 17:52] rubymorillo commented on #67
Meeting with Gregor arranged; will get debriefed and will move forward with writing over the next few days.

[2016-03-12 01:39] renrutnnej opened #73 "BLOG: Shout-outs recurring weekly post"
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

Instead of having the TGIF post be a huge compilation of interesting/fun links to read __an

[2016-03-12 01:56] renrutnnej opened #74 "BLOG: Meet the Hoodies – Gregor Martynus"
![welcome-to-open-source-atlanta](https://cloud.githubusercontent.com/assets/39992/13732817/58766428-e960-11e5-8496-c65891ad0835.png)

**This issue is reserved for participants of  [Welcome to Open Source, Atlanta](http://www.meetup.com/Jr-Dev-Mentoring/events/228951389/)**.
If it’s still available after April 2nd, it’s all yours :)

---

### :pencil2: The Task

We’ve started a series of brief int

[2016-03-12 01:58] renrutnnej opened #75 "BLOG: Meet the Hoodies – Julia Simplicio"
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

We’ve started a series of brief interviews with some of the Hoodie core contributors. You c

[2016-03-12 01:59] renrutnnej opened #76 "BLOG: Meet the Hoodies – Nick Hehr"
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

We’ve started a series of brief interviews with some of the Hoodie core contributors. You c

[2016-03-12 02:09] renrutnnej opened #77 "BLOG: Hoodie news assignment!"
On Tuesday March 15, @janl and @renrutnnej will be on a popular Open Source podcast called [FLOSS Weekly](https://twit.tv/shows/floss-weekly) to talk about Hoodie! :tada: :dog:

We need a contributor to write a brief synopsis after the show to post on the blog with the link to the podcast with maybe an epic quote from the show or something. :relaxed:

Or especially if there are links mentioned in

[2016-03-13 03:49] sjnorth commented on #77
Hi there, this one looks perfect for me. Can I grab it?

[2016-03-13 15:28] gr2m commented on #77
Absolutely :) Welcome to Hoodie :wave:

[2016-03-13 16:41] renrutnnej commented on #77
Welcome @sjnorth :sparkles: Please let me know if you need any help or if you get stuck. :relaxed:

[2016-03-13 19:21] renrutnnej commented on #64
Thanks @NeekyRabbit! I want to make sure we release Blog Bear's story in the best possible way so I'll keep you posted on how we're going to make that happen :)

[2016-03-13 19:24] renrutnnej commented on #65
Hey @summerspirit! I'm reviewing now, sorry for the delay. I'll have feedback for you soon :relaxed:

[2016-03-13 19:31] sjnorth commented on #77
Hi there, thanks for the warm welcome :) Yep, will let you know if I need anything.

[2016-03-14 00:49] gr2m commented on #74
@renrutnnej mind if I reserve this issue for our "Welcome to Open Source" event in Atlanta?
http://www.meetup.com/Jr-Dev-Mentoring/events/228951389/

[2016-03-14 00:52] renrutnnej commented on #74
Not at all!

-- 
Jenn Turner
I ❤️ great email at jennwrit.es/newsletters 

On March 13, 2016 at 8:49:19 PM, Gregor Martynus (notifications@github.com) wrote:

@renrutnnej mind if I reserve this issue for our "Welcome to Open Source" event in Atlanta?
http://www.meetup.com/Jr-Dev-Mentoring/events/228951389/

—
Reply to this email directly or view it on GitHub.

[2016-03-14 15:03] rubymorillo commented on #67
Pinging @renrutnnej! Want to take a look at the proposed [Get Help updates](https://docs.google.com/document/d/1UM5Cr467fN8HnTS21WRo2tc_62OjbQjXGE3k-GHBjOU/edit) for review?

Notes from my convo with @gr2m and what the proposed changes were are provided in the comment above for background. Thanks!

[2016-03-14 16:44] renrutnnej commented on #67
I just reviewed the Google doc and I think it looks perfect @rubymorillo. Thank you so much :raised_hands:

I see the notes on encouragement above and I'm curious if you still needed direction on that since it seems somewhat vague to me here. :relaxed:

[2016-03-14 17:03] gr2m commented on #67
added a few minor notes. I think it’s great, thanks Stephanie!

[2016-03-14 19:27] rubymorillo commented on #67
Awesome @gr2m I updated that language!

@renrutnnej re: encouragement language; yes, I definitely need help with direction. Any tips?

[2016-03-14 22:32] gr2m opened #78 "Blog post: a new kind of open source event"
Hello Editorial Team 👋

I will co-host a "Welcome to Open Source" event / workshop in Atlanta in April, and I wrote a blog post to introduce the idea behind it to the world, and also to send it out to other Open Source projects so that they can participate. I’ve started a Pull Request to our blog here:
hoodiehq/hood.ie#253

[2016-03-15 11:15] janl commented on #67
I’m curious about the reasoning for this?

I imagine `/get-help` to be a place not only for people who want to work on Hoodie, but mainly for people who are *using* Hoodie and need help.

[2016-03-15 11:17] janl commented on #67
To clarify: I understand that we are shaping things to focus more on the *camp release*, which focusses on contributors, but I think we should have something for end-users under that URL.

[2016-03-15 14:30] rubymorillo commented on #67
Perhaps @gr2m could better answer those questions, @janl? ^^^

[2016-03-15 17:52] sjnorth commented on #77
Great interview! Couple of questions: 1) when do you need it ready by, 2) any particular areas you'd like me to highlight? 3) how long should the synopsis be?

[2016-03-15 17:55] renrutnnej commented on #77
Hi @sjnorth! It would be awesome if we could publish something tomorrow. Nothing too long, maybe like 200-ish words on calling out some highlights and why people should check out the show.

Also, the podcast should be available in a couple of hours so we can embed it into the post too! :+1:

[2016-03-15 17:59] sjnorth commented on #77
Tomorrow works! I'm in Istanbul so I've got a nice chunk of time advantage :)
one more thing, were there any links I'd need to include?

[2016-03-15 18:01] renrutnnej commented on #77
Probably but I’ll suggest them after you have some copy so we can figure out the best way to work them in and/or list them. Thank you so much!

-- 
Jenn Turner
I ❤️ great email at jennwrit.es/newsletters 

On March 15, 2016 at 1:59:19 PM, Samantha North (notifications@github.com) wrote:

Tomorrow works! I'm in Istanbul so I've got a nice chunk of time advantage :)
one more thing, were there any li

[2016-03-15 18:13] sjnorth commented on #77
OK, sounds fine! Until tomorrow.. :)

[2016-03-15 19:16] renrutnnej commented on #78
I think this is the link here: https://github.com/hoodiehq/hood.ie/pull/253

[2016-03-15 19:20] gr2m commented on #78
yes, thanks, fixed

[2016-03-15 19:56] gr2m commented on #67
yeah that was me :) The FAQ is not helpful it might rather confuse at the moment, as the most new people will look into the new Hoodie. The Report a bug link eventually links to FAQ, too, and list of known bugs is also confusing.

Maybe we can add a section back in for Hoodie users, but only tell in there that we are working on a new version, that documentation might be outdated and that the best

[2016-03-15 20:42] #78 closed

[2016-03-20 19:18] turcapat commented on #72
Hi, is this issue reserved for the DC meet the hoodies ? I would like to make my first PR so i am looking for some issue to solve :) I am totally new to the Hoodie, so I would appreciate any help.

[2016-03-20 20:27] gr2m commented on #72
no it was not reserved I just added the label so it’s easier to find. It’s all yours Patrik :)

[2016-03-23 00:38] pawan92 commented on #64
hey i would love to help out never contributed to open source project before!

[2016-03-23 00:51] renrutnnej commented on #64
Hi @pawan92, this issue is already being worked on, but check out other ones in this repo to see if there's any others that seem interesting :relaxed:

[2016-03-23 01:27] pawan92 commented on #76
Hey is it possible for me to do this? with @HipsterBrown :smile_cat:

[2016-03-23 01:28] renrutnnej commented on #76
Absolutely @pawan92! I'll assign it to you now. Please let me know if you have any questions or you need help to get started :relaxed:

[2016-03-23 01:36] pawan92 commented on #76
@renrutnnej awesome! so im familiar with git and working it but just to clarify i interview hipsterbrown and record her/his? (i apologize lol) answers (google docs). fork the document presumably and make changes..push and do PR? am i on the right path?

[2016-03-23 01:39] renrutnnej commented on #76
It sounds like you're definitely on the right path @pawan92. You can use git if you're more comfortable but I think there are also instructions if you want to try the GitHub UI.

[2016-03-23 02:30] pawan92 commented on #76
I will look into it! so i forked and cloned a local copy which gives me the entire editorial folder. I will save the doc in the meet the hoodies under blog posts before i push. Is that ok? @renrutnnej

[2016-03-23 05:10] gr2m commented on #77
that’s done :)

[2016-03-23 05:10] #77 closed

[2016-03-23 05:20] gr2m opened #79 "Shoutouts Week 12"
Here is what I gather for the 1st shout out post. Hope you can work with it @sjnorth?

- Continuous deployment & Docker image for [Tracker app](https://github.com/hoodiehq/hoodie-app-tracker) & our [Camp tutorial](https://github.com/hoodiehq/hoodie-camp-tutorial), thanks to [Christoph](https://github.com/christophwitzko)
- Patricia hosted Offline Web Apps with Hoodie workshop at [Health Camp](http

[2016-03-23 14:30] renrutnnej commented on #76
That sounds right. Let me know if you need help @pawan92 :relaxed:

[2016-03-23 14:31] renrutnnej commented on #79
Thank you for your work on this @gr2m and @sjnorth :sparkling_heart:

[2016-03-23 14:39] HipsterBrown commented on #76
:wave: Hello @pawan92! Let me know when you're ready to collaborate on a draft. :smile:

[2016-03-23 15:31] sjnorth commented on #79
Hey Gregor

Thanks for sending this. Yep it's all fine. I will have it ready for you by
tomorrow.

Sent on the move
On 23 Mar 2016 7:20 a.m., "Gregor Martynus" <notifications@github.com>
wrote:

[2016-03-23 15:53] rubymorillo commented on #67
@gr2m @janl I added a ["Have questions about using Hoodie?"](https://docs.google.com/document/d/1UM5Cr467fN8HnTS21WRo2tc_62OjbQjXGE3k-GHBjOU/edit) section for end users. Let me know what you both think!

[2016-03-23 16:34] gr2m commented on #67
We can put the `"Have questions about using Hoodie?"` first I’d say, it’s very short anyway. But this is good to publish for me either way :) Thanks @rubymorillo

[2016-03-23 18:58] sjnorth opened #80 "LinkedIn page for Hoodie"
I can't find a LinkedIn page for Hoodie. If there isn't one, shall we create it?

[2016-03-23 19:02] renrutnnej commented on #80
Since LinkedIn is a professional networking site, I'm curious about whether there's a precedence for open source software projects to have a presence there.

I'm going to defer to @janl and @gr2m (and the other co-creators) on this one, as I am not quite versed in the grey areas of OSS.

[2016-03-23 19:02] gr2m commented on #80
What would be the benefit? Hoodie also has no Facebook page, I’d rather not add more channels that people can talk to us, to keep noise low.

[2016-03-23 19:03] gr2m commented on #80
^5 @renrutnnej for posting 2s apart from each other :)

[2016-03-23 19:03] sjnorth commented on #80
I await the final verdict with anticipation. Let me know if I can help in any way. :)

[2016-03-23 21:53] turcapat commented on #72
Thank you very much !!! :) I am going to solve it as soon as possible.

[2016-03-23 22:03] pawan92 commented on #76
Hey @HipsterBrown ! can i get your email address? i have the questions on google doc which i want to share with you.

[2016-03-24 02:16] pawan92 commented on #75
@renrutnnej hey jenn while i wait for my other hoodie to respond..can i do this one as well? :smile_cat:

[2016-03-24 15:23] renrutnnej commented on #75
@pawan92 are there any other writing contributions that interest you?

[2016-03-24 17:37] pawan92 commented on #75
@renrutnnej i have looked through and am open to anything! any suggestions?

[2016-03-24 20:55] renrutnnej commented on #75
If you still want to grab this one @pawan92 I think you should do it! 😺

[2016-03-24 20:56] jsimplicio commented on #75
I'm usually free a couple hours every day if that helps :D

[2016-03-24 21:04] rubymorillo commented on #67
@janl done, move it up top!
@renrutnnej it's ready to go live!

[2016-03-24 22:32] pawan92 commented on #75
@renrutnnej lol sure :grin:  @jsimplicio hey can i get you email so i can share the google docs with questions?

[2016-03-25 13:26] turcapat commented on #72
Hi guys, i just started to work on issue, i created a google doc:
https://docs.google.com/document/d/1pNLv4E7-_XQsMtIQHQwvaiT75MKFkLYwiLJx0MHQcKo/edit?usp=sharing

Could you give me some feedback ? :)  @renrutnnej,  @Charlotteis @janl

[2016-03-25 14:24] renrutnnej commented on #72
Since it's view only I'll give my feedback here:

“Hoodie provides complete back-end solution for your front-end code. It helps you develop your web application fast, easy and accessible. Just plug in your front-end code to Hoodie API, and your app is ready.”

+ change references of `back-end` or `front-end` to `backend` and `frontend` per the [glossary guide](https://github.com/hoodiehq/editorial

[2016-03-25 14:38] turcapat commented on #72
Thank you for corrections, since I am not native speaker it is a big help :) With that accessibility i meant that app will be accessible, because Hoodie is Offline First. I am going to try to formulate it better.

[2016-03-25 14:46] turcapat commented on #72
@renrutnnej Check now :) Btw. I made the document editable.

[2016-03-25 15:44] turcapat commented on #72
What about now ? :)

[2016-03-25 16:14] renrutnnej commented on #72
I added my tweaks, I'd just like feedback from @gr2m or @janl as well. Great stuff @turcapat :sparkles:

[2016-03-25 17:07] turcapat commented on #72
If it is OK, you can send me logo asset. :)

[2016-03-25 18:30] pawan92 commented on #76
@renrutnnej hey jenn created a PR with the document containing nicks answers. hope i did it right #firstPR :smile:

[2016-03-25 18:32] renrutnnej commented on #76
I saw that @pawan92 and since it's a blog post, could you to submit following the blog post directions here: https://github.com/hoodiehq/hood.ie#blog ? I'm happy to help walk you through it. :relaxed:

[2016-03-25 19:26] pawan92 commented on #76
@renrutnnej submitted the PR. let me know. if i didnt do it right we can walk through it together :)

[2016-03-25 19:27] rubymorillo opened #82 "Creating a weekly editorial digest doc"
Hey team,

**The Problem:** Some of the issues in the Editorial repo have "in progress" tags while others don't; some issues have long convos in them which are hard to follow and don't make it clear who has claimed an issue and what the status of it was (ongoing, blocked, paused, etc). Additionally, it's not clear what will be in the pipeline over the coming weeks which would allow current and fut

[2016-03-25 21:02] gr2m commented on #82
Great initiative, thanks @rubymorillo

[2016-03-25 21:07] gr2m commented on #72
@turcapat looking good, added minor suggestions.

For the last sentence, instead of

I’d say

As logically you add the Hoodie API to your frontend code, not the other way around. Does that make sense?

[2016-03-25 21:09] gr2m commented on #72
@espy do you have Hoodie the logo, maybe with the domain in it?

[2016-03-25 22:47] jsimplicio commented on #75
@pawan92 sure you can reach me at contact@juliasimplicio.com

[2016-03-26 07:58] espy commented on #72
Here's two!

![hoodie_logo_colourful_2 0_closed_1000](https://cloud.githubusercontent.com/assets/391124/14058938/6b89b220-f330-11e5-9179-4cab9d26266b.png)

And [as SVG](https://db.tt/a1n0c0aX)

![hoodie_logo_dark_2 0_closed_1000](https://cloud.githubusercontent.com/assets/391124/14058939/6b9005a8-f330-11e5-9ed5-2e6f3507af1f.png)

And the dark one [as SVG](https://db.tt/XxiNRKUr)

And here's a [whi

[2016-03-26 09:34] turcapat commented on #72
![hoodie_local](https://cloud.githubusercontent.com/assets/7606711/14059343/4d7e7de8-f33e-11e5-87d8-04c7cfbea34f.png)

Here is how it looks like localy :) any suggestions ?

[2016-03-26 15:54] gr2m commented on #72
I think it’s great :) Maybe link the Hoodie logo to http://hood.ie, too, if you haven’t yet :)

[2016-03-26 17:54] gr2m commented on #67
done via https://github.com/hoodiehq/hood.ie/pull/265 :clap:

[2016-03-26 22:05] rubymorillo commented on #61
@renrutnnej @gr2m I'd like to work on this one!

[2016-03-26 22:25] #67 closed

[2016-03-27 00:04] gr2m commented on #61
A few thoughts, nothing set in stone: we were thinking of maybe creating an entire new page for contributors, something with more of a dashboard character, aimed at new and existing contributors.

For new contributors, the page would show issues which are prepared for new contributors to work on from the different teams (Code, Design, Documentation, Editorial).

For existing contributors, it would

[2016-03-27 21:12] pawan92 commented on #75
@jsimplicio shared it with you :smile:

[2016-03-27 21:19] pawan92 commented on #75
https://docs.google.com/document/d/1P43R06CaQCX3KcGBunpWQzPsUQksEnMmBE3S5CYFOmY/edit the google docs if its easier!

[2016-03-28 14:20] rubymorillo commented on #61
Yes, this makes sense. Do we have a timeline on this?

I'm happy to jump on a call later this week so we can discuss the layout of this page(s) and where we can start work. Let me know if that works with you @gr2m and I'll reach out!

[2016-03-28 16:19] gr2m commented on #61
let’s chat after our call on Thursday if that works for you?

[2016-03-28 16:26] renrutnnej commented on #79
Closing per http://hood.ie/blog/shoutouts-week-12.html

[2016-03-28 16:26] #79 closed

[2016-03-28 17:13] rubymorillo commented on #61
yup, sounds good @gr2m!

[2016-03-29 19:15] turcapat commented on #72
It will be my first Pull Request. Can you tell me how to I commit and push my local changes to Pouch DB repository ? Or it is like a normal git commit and push ?

[2016-03-29 19:18] nickcolley commented on #72
Hey @turcapat

You can check the contribution guidelines here to get started: https://github.com/pouchdb/pouchdb/blob/master/CONTRIBUTING.md

If you fork the repository and get a merge request in I can help merge it in for you.

[2016-03-29 19:35] turcapat commented on #72
I have read it already, but I am not really a smarter after it. I forked the repository and pull my local changes to this fork. But they say do not to use Green Button. So how do I create a Pull Request ?

[2016-03-29 22:10] gr2m commented on #72
Yes create the pull request. The "Green Button" is about merging the pull request, not starting it. They could make that more clear :)

[2016-03-30 14:21] #76 closed

[2016-03-30 18:31] nickcolley commented on #72
Woop, all merged in will be live on the site next time we deploy. (https://github.com/pouchdb/pouchdb/pull/5008)

Thanks a lot @turcapat double contribution to both Hoodie and PouchDB :) :tada: :dancer:

[2016-03-30 18:31] #72 closed

[2016-03-30 18:50] turcapat commented on #72
Thank you very much guys :) I really appreciate your help :) !!

[2016-03-30 18:53] renrutnnej commented on #72
Do you have a twitter handle @turcapat? I want to send out a tweet to congratulate you for your great work on this :relaxed:

[2016-03-30 19:01] turcapat commented on #72
Oh I am sorry, i dont have a twitter. :)

[2016-04-02 03:50] renrutnnej commented on #80
I'm closing this per @gr2m preference in his comments above.

[2016-04-02 03:50] #80 closed

[2016-04-02 04:00] renrutnnej opened #83 "BLOG: Hoodie news assignment!"
On Saturday April 2, @gr2m will be [co-hosting a new type of open source event](http://www.meetup.com/Jr-Dev-Mentoring/events/228951389/) in Atlanta to introduce new contributors to Hoodie! :tada: :dog:  We featured the announcement of this event on the blog previously [here](http://hood.ie/blog/a-new-kind-of-open-source-event.html).

We need a contributor to write a brief synopsis about the event

[2016-04-02 04:19] renrutnnej opened #84 "EDIT: Hoodie Tutorial #2"
![welcome-to-open-source-atlanta](https://raw.githubusercontent.com/welcome-to-open-source/Atlanta/master/assets/banner.png)

**This issue is reserved for participants of [Welcome to Open Source, Atlanta](http://www.meetup.com/Jr-Dev-Mentoring/events/228951389/)**.

If it’s still available after April 2nd, it’s all yours :)

---

### :octocat: Starter Issue

We would like to take the opportunity t

[2016-04-02 04:23] renrutnnej opened #85 "EDIT: Map app tutorial"
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

We have a series of tutorials that need to be reviewed for typos, markdown errors and gener

[2016-04-02 04:26] renrutnnej opened #86 "EDIT: Chat app tutorial"
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

We have a series of tutorials that need to be reviewed for typos, markdown errors and gener

[2016-04-02 17:25] kmcrayton7 commented on #74
I'm looking into this one

[2016-04-02 17:27] renrutnnej commented on #74
Are you claiming this @kmcrayton7 :relaxed: ?

[2016-04-02 17:36] kprenesti commented on #85
I'm looking into this one.

[2016-04-02 17:38] renrutnnej commented on #85
Thanks @kprenesti, I've assigned you just now. Let me know if there's anything I can do to help out :relaxed:

[2016-04-02 19:41] hintsa commented on #86
get started

[2016-04-03 01:43] gr2m commented on #74
oh yeah :)

[2016-04-03 01:44] gr2m commented on #85
Happy to help too if there are any technical questions :)

[2016-04-03 01:45] gr2m commented on #86
all yours @hintsa

[2016-04-04 12:11] raquelxmoss commented on #84
Hello! I'd like to take claim this issue.

[2016-04-04 12:12] raquelxmoss commented on #84
Hello! I'd like to claim this issue :smile:

[2016-04-04 12:18] finnp commented on #84
@raquelxmoss Hey :) It's all yours. Let us know if you have any questions.

[2016-04-04 15:42] rubymorillo commented on #71
Hey team, did we need help with this one at all? @gr2m @renrutnnej

[2016-04-04 16:14] renrutnnej commented on #71
Yes  please!

On Monday, April 4, 2016, Stephanie Morillo <notifications@github.com>
wrote:

[2016-04-04 17:19] rubymorillo commented on #71
Awesome! I'll coordinate with @gr2m on this :).

@renrutnnej do we have docs on how we create these kinds of blog posts? Does editorial typically interview and write it, or do we mainly edit the content?

[2016-04-04 17:38] renrutnnej commented on #71
Since I've helped, we've left it up to the content creator and editorial has provided formatting help and editing. I hope that answers your question but if not, let me know!

[2016-04-04 18:29] renrutnnej commented on #82
I'm late to chime in but I love this idea! My only concern is having someone who stays on top of this.

[2016-04-04 18:36] renrutnnej commented on #5
Hey @summerspirit just wanted to bump this up to see if you're still interested.

[2016-04-04 18:37] renrutnnej commented on #57
Hi @summerspirit just checking in on this to see how you're doing and if you need any assistance :relaxed:

[2016-04-04 18:38] renrutnnej commented on #61
Hey @rubymorillo just checking in to see if you need any assistance with this :relaxed:

[2016-04-04 18:49] renrutnnej commented on #64
I would like to publish an introduction to the blog bear next week on **April 12**.

So that means her bio would go live to both the animals repo, and the blog that day.

@NeekyRabbit do you have interest in learning how to publish to those areas? I can assist if not. :relaxed:

[2016-04-04 18:50] renrutnnej commented on #65
Hi @summerspirit just checking in on this bio to see how you're doing.

[2016-04-04 18:50] renrutnnej commented on #73
Closing this per @sjnorth taking this on! Thanks Samantha!

[2016-04-04 18:50] #73 closed

[2016-04-04 18:51] renrutnnej commented on #66
Hey @matsieftw I just wanted to check in with you to see how you're doing with the Alpaca bio :relaxed:

[2016-04-04 18:52] renrutnnej commented on #68
Hey @jo-porter, just checking in to see how you're doing with this issue. If you need any help, or are blocked, please let me know :relaxed:

[2016-04-04 18:53] renrutnnej commented on #75
Hey @pawan92 is this ready for review?

[2016-04-04 21:53] pawan92 commented on #75
@renrutnnej i have not been able to get in touch with @jsimplicio :(

[2016-04-05 10:08] summerspirit commented on #65
Hi @renrutnnej - just trying to redo it according to your feedback :)

[2016-04-05 10:10] summerspirit commented on #5
Hey @renrutnnej - it seemed other people took the lead on this and were moving with it, so I was just letting them do that. If you still want any help with it, happy to lend a hand.

[2016-04-05 13:06] kmcrayton7 commented on #74
@renrutnnej I'm working on it now.

[2016-04-05 13:46] matsieftw commented on #66
@renrutnnej Hey there! Sorry this took me a day to respond. I have a rough draft that I did and am returning to later this afternoon.

[2016-04-06 11:35] raquelxmoss commented on #84
@finnp This is [ready for review](https://github.com/hoodiehq/documentation/pull/206) :smiley:

[2016-04-06 20:22] matsieftw commented on #66
Hey y'all. I just finished my draft for the design alpaca.

https://docs.google.com/document/d/1XNuI-u02OKl3jmoiAwhi3fDBWcvM2WPJ_tucJVWp2Us/edit?usp=sharing

[2016-04-07 14:45] rubymorillo commented on #61
@renrutnnej just added some notes from my call with Gregor this week in the original comment, above (It's under UPDATE APRIL 5) where we discuss the possible flow and some questions we had. I'd love your thoughts and @janl's on it!

[2016-04-08 15:36] jo-porter commented on #68
Hey @renrutnnej,

So, all the content has been added, there's a pull request in hoodiehq/hood.ie relating to it. I also cropped the photos and will create a pull request for that in hoodie-css - I'm not sure if what I've done is exactly right though - sorry! There were a couple of things that @gr2m pointed out needed to be fixed, and they've been done. I thought I messaged Gregor to let him know,

[2016-04-11 15:53] espy commented on #66
Lovely :) Thanks a lot for that. Made a few small suggestions, if that's alright.

Apologies in advance: I'm still totally overthinking the name, wondering if we should allude to some famous painter or designer or someone with a connection to the Andes. Thinking of László (as in [Moholy-Nagy](https://www.google.de/search?hl=de&q=moholy+nagy&ie=utf-8&tbm=isch&gws_rd=cr&ei=EccLV4WeIYb7O821pbgK) ) or

[2016-04-12 08:06] NeekyRabbit commented on #64
@renrutnnej hello - sorry only just picked up your message - been on holiday. Guessing it's all set up now? If not happy to learn how to do it.

[2016-04-12 16:03] renrutnnej commented on #64
Closing per https://github.com/hoodiehq/hood.ie/pull/273, thank you @NeekyRabbit!! 👏

[2016-04-12 16:03] #64 closed

[2016-04-12 16:41] rubymorillo commented on #71
@gr2m ping! Just wanted to see if you had an idea about time line for writing the post for my FYI :)

[2016-04-12 16:42] gr2m commented on #71
@rubymorillo I still have it on my list. Friday is my Hoodie day, okay to do it then?

[2016-04-12 21:44] gr2m opened #87 "BLOG: Meet the Hoodies – Cecily Walker"
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---

### :pencil2: The Task

We’ve started a series of brief interviews with some of the Hoodie core contributors. You c

[2016-04-13 00:12] gr2m commented on #61
@renrutnnej @rubymorillo I had a chat with @jsimplicio on it, I think we came up with some good ideas. I updated the issue description with our thoughts and a link to our chat

[2016-04-13 14:05] gr2m commented on #68
fyi the open pull request is here: https://github.com/hoodiehq/hood.ie/pull/252

[2016-04-13 19:08] renrutnnej commented on #74
I left feedback on the Google doc, let me know if you need help getting the PR process going :)

[2016-04-13 22:25] renrutnnej commented on #74
Resolved by https://github.com/hoodiehq/hood.ie/pull/274 once merged. :relaxed:

[2016-04-14 02:24] gr2m commented on #74
@renrutnnej you can add "fixes hoodiehq/editorial#74" to the description of the pull request at hoodiehq/hood.ie#274, then this issue will be closed automagically by GitHub when the PR gets merged

[2016-04-18 23:08] renrutnnej commented on #84
Edits made and pushed live via https://github.com/hoodiehq/documentation/pull/206

[2016-04-18 23:08] #84 closed

[2016-04-18 23:11] renrutnnej commented on #75
It looks like Julia has included some great responses. @pawan92 do you want to write up a brief intro and put this into a blog post format in the site/blog repo here https://github.com/hoodiehq/hood.ie?

[2016-04-18 23:13] gr2m opened #88 "shout out blog post"
hey @sjnorth, thanks to @finnp’s work, we know have a script that gets more data for us to give shout outs. Here’s a summary for contirbutions since last shout out, can you work with that? It says who contributed for the first time, who reviewed, and you can give some extra shout outs based on contributions, like Finn’s work on the internal architecture migration and Cecily on the TGIFs. Let me kn

[2016-04-18 23:15] gr2m commented on #88
@finnp should it say that @codyzu had his first contirbution to Hoodie since March 24? See https://github.com/issues?q=org%3Ahoodiehq+author%3Acodyzu+is%3Aclosed Or am I missing something?

[2016-04-19 07:20] sjnorth commented on #88
Thanks for the work @finnp ! I will put it all together today

[2016-04-19 10:43] finnp commented on #88
@gr2m Yeah that is correct. I was calculating that wrongly. I published 1.0.1. Also I replaced your summary in this issue with the fixed summary.

@sjnorth If there is anything you think could be improved about the summary let me know. You can comment or PR on this repository: https://github.com/finnp/github-shoutouts

[2016-04-19 13:41] gr2m commented on #88
@finnp are you sure the 1.0.1 release? I don’t see it: https://www.npmjs.com/package/github-shoutouts Also I don’t see new commits in https://github.com/finnp/github-shoutouts – could you double check it please?

[2016-04-19 14:01] finnp commented on #88
@gr2m Nope but now I pushed and published 😄

[2016-04-19 14:17] gr2m commented on #88
Two suggestions / thoughts:

1. Can we show the real name instead of the GitHub usernames? I think @sjnorth looked up the names for the shout out blog post: https://github.com/hoodiehq/hood.ie/pull/276/files
2. @sjnorth gave a shout out to everyone who commented. I think it would be nice to differentiate, there is a risk that some comments were not helpful or even negative. For that it would be gr

[2016-04-19 14:40] sjnorth commented on #88
@gr2m @finnp yes it would be a big help to see the comment content right away in the initial summary list. it would make the process much easier. can it be done?

[2016-04-19 14:42] gr2m commented on #88
@finnp maybe instead of an HTML output, we could do an HTML output with content (e.g. comment excerpts) that can be toggled?

[2016-04-19 15:42] Charlotteis commented on #88
Wow this is an amazing script. Also amazing to see I've done 62 pull requests to Hoodie! Better keep up that total :)

[2016-04-19 20:19] gr2m commented on #86
hey @hintsa do you still want to work on this or shall we open it for someone else?

[2016-04-19 20:21] gr2m commented on #85
Hey @kprenesti do you still want to work on this?

[2016-04-19 20:22] gr2m commented on #83
@renrutnnej okay if @kmcrayton7 and I take this one?

[2016-04-19 20:25] renrutnnej commented on #83
Yes please!

Jenn Turner

I &lt;3 great email [jennwrit.es/newsletters](http://jennwrit.es/newsletters
"http://jennwrit.es/newsletters" )

[@jennwrites](https://twitter.com/jennwrites)

On Apr 19 2016, at 4:22 pm, Gregor Martynus &lt;notifications@github.com&gt;
wrote:

[@kmcrayton7](https://github.com/kmcrayton7) and I take this one?

You are receiving this because you were mentioned.
Reply to th

[2016-04-19 21:05] #88 closed

[2016-04-19 21:14] pawan92 commented on #75
@renrutnnej sure! im a little busy this week. but ill try to fit this in and have it to you asap! 😄

[2016-04-20 09:54] schisepo commented on #5
@renrutnnej & @summerspirit what was the conclusion on this? Who is currently running the twitter account? they are doing great :smile: Is the process now documented? Do they need help?

[2016-04-20 10:40] Charlotteis commented on #5
I think it's still just Gregor/Jan doing occasional tweets?

[2016-04-20 13:28] renrutnnej commented on #5
Right now it's a combination of Jan, Gregor and myself (maybe others too, I don't know) so this issue is still one I'd like to see resolved.

[2016-04-20 13:36] schisepo commented on #5
There's a checklist put up by @summerspirit. Can we still work with this as a road-map?

[2016-04-20 14:17] renrutnnej commented on #5
@schisepo Yes please!! Let me know if you need anything, either by replying to this message or reaching out on Slack. Thank you for volunteering ☺️

[2016-04-21 00:54] pawan92 commented on #5
im also available to help! =)

[2016-04-21 08:11] schisepo commented on #5
Thank you @pawan92 , So far we're revisiting this checklist :point_down:

## Next Steps
- [ ] Sign-up for Trello
- [ ] Subscribe to the Trello board
- [ ] Someone grab responsibility for securing the Tweetdeck
- [ ] Pick a date that we want to start tweeting
- [ ] Add stuff to Trello
- [ ] Move stuff from planning on Trello to "ready to tweet" on Tweetdeck before the date we want to start tweeting

[2016-04-21 09:03] Charlotteis commented on #5
I think that @summerspirit needs to add as to the Trello board so we can add/edit/move stuff around?

[2016-04-21 10:58] schisepo commented on #5
You're right @Charlotteis. Is @summerspirit on Slack so that I can reach out?

[2016-04-21 12:07] Charlotteis commented on #5
I believe they are [at]nfreeman :)

[2016-04-21 15:41] schisepo commented on #5
Hi @everyone I've created a new board on Trello. Please  comment with your email address if you'd like me to add you as a member ☺

[2016-04-21 15:56] renrutnnej commented on #5
Add me please! renrutnnej@gmail.com

Jenn Turner

I &lt;3 great email [jennwrit.es/newsletters](http://jennwrit.es/newsletters
"http://jennwrit.es/newsletters" )

[@jennwrites](https://twitter.com/jennwrites)

On Apr 21 2016, at 11:41 am, Sandra Chipendo Chisepo
&lt;notifications@github.com&gt; wrote:

Trello. Please comment with your email address if you'd like me to add you as
a member ☺️

You a

[2016-04-21 16:03] schisepo commented on #5
Here's the invitation link: Join my Trello Board! https://trello.com/invite/b/4GsMspPl/3cb4d83854187880dd22375a7e19c67a/-hoodie

[2016-04-21 17:39] rubymorillo commented on #71
Yup @gr2m feel free to ping me when it's ready :)

[2016-04-22 18:11] renrutnnej commented on #5
@schisepo When you have a process outlined, the next step would be to document it somewhere in this repo and then we can close this issue!

[2016-04-22 18:14] renrutnnej commented on #63
@schisepo and Twitter team – can you come up with a plan for managing this?

[2016-04-22 18:15] renrutnnej commented on #65
Hey @summerspirit just checking in to see how the draft is going ☺️

[2016-04-22 19:06] schisepo commented on #5
Noted. Will work on it this weekend.
On 22 Apr 2016 20:11, "Jenn Turner" <notifications@github.com> wrote:

[2016-04-26 14:15] #75 closed

[2016-04-26 16:14] summerspirit commented on #65
Hey @renrutnnej - was working with your feedback and I'm not making any progress on this sadly.

I have removed myself as assignee so someone better suited to the task can pick it up :)

[2016-04-26 16:48] renrutnnej commented on #65
Oh no, I'm so sorry to hear that. No worries @summerspirit 💖

[2016-04-28 12:01] #74 closed

[2016-04-29 22:53] schisepo commented on #5
Please review and help flesh out the process. See pull request #89

[2016-05-02 19:19] annaboodle commented on #65
I'd love to take a stab at this! @renrutnnej

[2016-05-02 19:48] renrutnnej commented on #65
Great @annaboodle, let me know if you need any help to get started, or if you have any questions.

[2016-05-04 18:27] #87 closed

[2016-05-13 20:31] renrutnnej commented on #85
Creating new starter issues to replace this one

[2016-05-13 20:31] #85 closed

[2016-05-13 20:32] renrutnnej commented on #86
Creating new starter issues to replace this one

[2016-05-13 20:32] #86 closed

[2016-05-13 20:33] renrutnnej commented on #83
I don't know how newsworthy this is at this point? What do you think @gr2m @kmcrayton7?

[2016-05-13 20:37] renrutnnej opened #90 "NEWS: covering Hoodie at OSCON"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s reserved for participants of [OSCON Contribute](https://ti.to/hoodie/oscon-meet-the-hoodies) until May 20th, 2016.

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR)

[2016-05-13 20:40] renrutnnej opened #91 "NEWS: Hoodies at JSConf Budapest"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

### 🤔 What you will need to know

English, kno

[2016-05-13 20:43] renrutnnej commented on #66
I'm working on getting this bio onto the editorial calendar so we can release it @matsieftw ☺️

[2016-05-13 20:44] renrutnnej commented on #65
I'm working on getting this bio onto the editorial calendar so we can release this new mascot @annaboodle ☺️

[2016-05-13 20:48] renrutnnej commented on #4
Hey @Charlotteis just checking on this to see if it's still something you're interested in doing ☺️

[2016-05-13 20:49] matsieftw commented on #66
Oh wow. Great. Let me know if there's anything I can do.

[2016-05-13 20:51] renrutnnej commented on #5
Okay, so while we're reviewing the process, can we clarify who is participating in the twitter team, per the original issue of creating a tweeting team?

[2016-05-13 20:53] renrutnnej commented on #10
Are we still thinking to include the NC language? I don't know that we have anything currently written about editorial ownership.

I'm trying to figure out if this issue is still relevant or if we were getting a bit ahead of ourselves at the time.

[2016-05-15 17:09] gr2m opened #92 "Twitter: update background and avatar?"
A good time to start promoting the Camp Release, as we will host a hackathon at OSCON: https://ti.to/hoodie/oscon-meet-the-hoodies

Here are source files for a super nice Hoodie Camp illustration: https://www.dropbox.com/sh/ulympy8huj3asnf/AAAPCmgYhio0hATsSLTsEFfHa?dl=0 – shall we use that in the Twitter header? Maybe replacing the current image entirely, or just a few squares as we did in https:/

[2016-05-16 16:39] annaboodle commented on #65
@renrutnnej Wonderful!! Feel free to reach out if you'd like assistance with any future animal stories :)

[2016-05-18 13:17] renrutnnej commented on #10
Closing per the 72 hour window passing without response. I don't believe this is currently an issue for the editorial team.

[2016-05-18 13:17] #10 closed

[2016-05-18 13:26] renrutnnej commented on #83
Closing this since it's been 30 days and no one responded within the 72 hour window that it was still relevant to publish.

[2016-05-18 13:26] #83 closed

[2016-05-18 13:35] renrutnnej opened #93 "Proof Hoodie Camp docs"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s reserved for participants of [OSCON Contribute](https://ti.to/hoodie/oscon-meet-the-hoodies) until May 20th, 2016.

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR)

[2016-05-18 13:59] #93 closed

[2016-05-18 14:03] #92 closed

[2016-05-18 14:07] #90 closed

[2016-05-31 15:15] gr2m opened #94 "Create "Awesome Community" list"
see https://github.com/sindresorhus/awesome – a curated list of awesome lists :) I think as the Hoodie Community we would be perfect to create an awesome list for all kind of resources about Open Source Communities :) Good starting point for gathering resources might be our [Welcoming Communities](http://hood.ie/blog/welcoming-communities.html) blog post.

I created the issue here for discussion,

[2016-06-02 23:02] pawan92 commented on #91
Hey @renrutnnej ill be working on this issue. ill see if i can find information regarding this topic online and if you have any resources that would be welcome as well!

[2016-06-03 17:25] gr2m opened #95 "Post Proposal: We are here for the long run: growing a sustainable Hoodie community"
This blog post is about money in Open Source in general, and Hoodie on Open Collective in specific. I’d like to elaborate on the challenges of sustaining an open source project while keeping it independent and how Open Collective potentially solves a few of the hard problems (receiving money without legal entity, transparency & value/exposure for sponsors). I’d also take a step farther back and me

[2016-06-16 19:29] gr2m commented on #95
I’ve updated the issue description and I have a draft for the blog post ready now. I’d love feedback <3

[2016-06-18 19:04] Charlotteis commented on #94
Sounds like an awesome idea ;)

[2016-06-18 19:05] Charlotteis commented on #5
has any clarification here happened?

[2016-06-18 19:07] Charlotteis commented on #4
@renrutnnej i just remember we kinda already wrote an article about it. http://hood.ie/blog/contributing-to-hoodie.html does this help?

Sorry, very burned out still so haven't done anything to do with this :(

[2016-06-19 16:00] gr2m commented on #94
this would make a nice [editorial camp issue](https://github.com/hoodiehq/camp/issues)

[2016-06-20 09:25] gr2m commented on #95
PR: https://github.com/hoodiehq/hood.ie/issues/302

[2016-06-20 15:24] #95 closed

[2016-06-23 02:30] gr2m commented on #68
looks like it’s all done ✨

[2016-06-23 02:30] #68 closed

[2016-08-22 20:37] renrutnnej commented on #91
See https://github.com/hoodiehq/hood.ie/issues/306 for explanation.

[2016-08-22 20:37] #91 closed

[2016-08-23 15:24] #65 closed

[2016-08-25 19:23] renrutnnej opened #96 "Create a ✨TGIF team✨ with regular curation contributors"
[TGIF](https://github.com/hoodiehq/editorial/wiki/How-to-create-TGIF) is one of the main functions of **Hoodie’s editorial team**.

Because “code things” only make up one portion of our project and community, since the beginning Hoodie has put together a weekly curated list of interesting reads, videos, and thoughts that apply to areas like **open source**, **design**, **business**, and random **t

[2016-08-25 19:25] Charlotteis commented on #96
LGTM!

[2016-08-25 19:26] skeskali commented on #96
I wouldn't say the time commitment is low. On average, I spend between 4-6 hours a week putting it together. I read every article I link to just to make sure it meets with Hoodie's standards, and to make sure it's worthy of including. Other people may not need this much time, but Github and publishing are the easiest parts of the process for me.

[2016-08-25 19:26] machikoyasuda commented on #96
I am interested in recruiting friends in LA for this and I can pair with them in person if need be!

[2016-08-25 19:28] renrutnnej commented on #96
That's great feedback @skeskali! I'll adjust the issue to say the time commitment is moderate, around 5 hours per week, is that fair?

[2016-08-25 19:30] gr2m commented on #96
Yeah I agree with @skeskali, the one time I did TGIF myself, I spent a few hours on it, because I don’t spend so much time reading articles usually, so I couldn’t just pick some that I already knew, instead went trough all the articles myself that I thought sounded good.

I’d also suggest to link to http://hood.ie/about/, just to get everyone understand what our values are, what kind of things we

[2016-08-25 19:35] skeskali commented on #96
I'd really love to have someone else handle the Open Source section, as it's the one I find most challenging (I don't have enough knowledge/experience in the area to know whether the links I'm including are any good).

[2016-08-25 21:39] machikoyasuda commented on #96
@skeskali - @ahealthydesign and I can pair edit/write/emoji/markdown the Open Source section. I have been collecting blog posts, GitHub projects, newspaper articles, academic papers about open source and I need help organizing and posting them all.

ps. hello! 🚲 ❤️

[2016-08-25 21:55] machikoyasuda commented on #94
@jdorfman will do a talk for FullStack at in our fall/winter season about how to make Awesome lists. :) And he will tell us about the integration thing he uses for his github pushes to make sure there is no white space and other things that can make a list not-as-awesome, as defined here https://github.com/sindresorhus/awesome/blob/master/awesome.md :)

[2016-08-26 17:54] machikoyasuda commented on #96
Adding @elrandomhero to this thread -- @ahealthydesign (Rails Girls LA 2013/2014 alum) and @elrandomhero are advocates, writers, multilingual social media sensations that have extensive experience in open-source apps like @civicrm, communities like @nationbuilder, @wordpress and good use of emojis & gifs. We all worked together teaching bike safety in LA. Excited to mentor them through github.com

[2016-12-30 19:03] fozy81 commented on #57
Hi, my name's Tim . I hope @summerspirit doesn't mind  but I've put together a [draft wikipedia entry here](https://en.wikipedia.org/wiki/User:Fozy81/sandbox). It's in my sandbox area on wikipedia user page, hopefully other people can log in to edit/talk about it there before posting. Or discuss on this thread/issue.

I can't seem to  add images until the article is formally added to wikipedia. Bu

[2016-12-30 21:32] gr2m commented on #57
Thanks @fozy81 👍 I’m mostly off myself vacationing and working on other parts of Hoodie, but I’ll try to review it over the next week.

[2017-01-02 11:26] janl commented on #57
Again, this is great, thank you! <3

@fozy81 I’ve added a few more references and cleaned up the style a little bit.

@gr2m Can you look at the example code section, it should show what we have for Camp, not the old API.

After that, I’m +1 submitting this.

[2017-01-02 19:56] gr2m commented on #57
hey I had a quick first look at it and I think it’s a fantastic start :thumbsup: thanks so much :bouquet:

Just one question that I have is why you list "Firebase" in the see also section? You don’t mention it anywhere else in the content so I don’t know what to make of it?

Something nice to do before we publish it would be to publish the docs for new Hoodie. When other Wikipedia authors will rev

[2017-01-02 23:06] fozy81 commented on #57
Hi @gr2m, my thinking was to list other similar solutions to offline first apps solutions e.g. firebase. Perhaps best to leave out of this article, there's probably a case for 'nobackend' or 'offline first' standalone articles to list similar solutions e.g. https://wq.io/wq.app or pure local storage / html 5 . Although hoodie is quite unique, I still wanted to appear unbiased and point the reader

[2017-01-02 23:18] fozy81 commented on #57
@janl  @gr2m  thanks for the input and updates - it's starting to take shape. If you can update the code example / docs when ready. I'll add some image files when it goes 'live'.

[2017-01-07 03:50] gr2m commented on #57
Thanks for waiting! @janl will update the DNS so that http://docs.hood.ie/ points to our new documentation at hoodie.readthedocs.io and then I think we are good to go :)

I don’t really know how things go about adding a new article to Wikipedia, but if there is anything we can help with, please let us know, we are here to help. Thanks again for your great efforts, much appreciated!

[2017-01-07 12:23] fozy81 commented on #57
It's [alive!](https://en.wikipedia.org/wiki/Hoodie_(software))  It's been 'reviewed' by wikipedia so it's 'official'.

Please edit/review further on wikipedia.

I've added the hoodie logo and architecture diagram. But the hoodie logo is svg file and doesn't display well. **Are there any jpeg/png of the hoodie logo available?**

[2017-01-07 17:56] gr2m commented on #57
Hey @fozy81 that is so cool, thanks so much! This must be one of the coolest contributions to the Hoodie community :) I’ve invited you to the Hoodie Contributors team, you should be able to accept at https://github.com/hoodiehq – welcome 🙌

Are you on Twitter by chance? We love giving shout outs to our new contributors :)
And congrats to your [first Open Source pull request](https://github.com/hoo

[2017-01-07 18:20] fozy81 commented on #57
Hi @gr2m, it's been fun and thanks for everyone's support. I'm @fozy81 on twitter. I'm hoping to help out more when I can. Starting to learn the basics of emberjs + hoodie. I got a background in using [R/shiny](http://shiny.rstudio.com/) web framework which is similar in the sense of super easy web apps. But client-side javascript is unavoidable when requiring more control/offline things to happen

[2017-01-10 23:39] gr2m commented on #57
I'd be happy to help you find something interesting to work on! Our camp repository is a good place to look for things to work on: https://github.com/hoodiehq/camp/issues

Maybe a good way to start would be to build a simple app yourself, and maybe use Ember for the frontend? I’m interested in making the two work together well myself. We even started working on an adapter: https://github.com/hoodi

[2017-01-10 23:39] #57 closed

[2017-01-14 22:03] gr2m commented on #57
hey @fozy81, the wikipedia article was flagged for deletion: https://en.wikipedia.org/wiki/Wikipedia:Articles_for_deletion/Hoodie_(software). Could you give us some context on that, on the referencet to [WP:BOMBARDMENT](https://en.wikipedia.org/wiki/Wikipedia:BOMBARDMENT) and on what we can do to help prevent it from being deleted?

[2017-01-14 23:16] fozy81 commented on #57
Hey @gr2m, a couple of days ago the page was flagged for deletion because the subject was not deemed notable. In response, and in good faith, I added further references to show that it did have significance and secondary sources, following the wikipedia procedures, I then removed the proposal for deletion template. At this stage, I was hoping it was safe, but now it had been added to the 'Articles

[2017-01-15 06:06] gr2m commented on #57
Thanks for your help and the clarification!

[2017-02-06 21:10] fozy81 commented on #57
Phew, article has been deemed notable so will be kept in Wikipedia! Congrats everyone, hoodie is staying in Wikipedia. I've been busy learning javascript, ember and hoodie but for now more skilled to help out with documentation/proof reading etc. Let me know if there's something I can help with @gr2m.

[2017-02-06 21:42] gr2m commented on #57
@fozy81 thank you SO MUCH!

I’m happy to help you interesting things of any kind for you to contribute. First thing that comes to mind is this issue here: https://github.com/hoodiehq/hoodie/issues/684 Feel free to comment on it and assign it to yourself. If you have any questions you can ask in the issue and we’ll help you out :)

[2017-02-06 22:02] fozy81 commented on #57
@gr2m that looks great, one line deploy! I'll have a read/watch and see if i can help update the docs.

[2017-07-03 11:51] Raoooo commented on #71
Great information...And very helpfull for me...If you have any information about <a href="https://www.j4jacket.com/bon-jovi-captain-america-leather-jacket.html">bon jovi captain america jacket</a>
 then share please...thanks

[2017-07-03 16:33] #71 closed

[2018-04-13 21:27] #82 closed